{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <div class="panel panel-default home-width">
        <div class="panel-heading"><h1>{% trans "Sign In" %}</h1></div>
        <div class="panel-body">

            <p>Sign in to your Lost Visions account, or <a href="{{ signup_url }}">sign up</a> below:</p>

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}


                <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                <hr>
                {% if socialaccount.providers  %}
                    <p>You can also sign in with an existing third party account:</p>

                    <div class="socialaccount_ballot">

                        <ul class="socialaccount_providers">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>

                        <div class="login-or"></div>

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}

                {% endif %}
                <hr>
                <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <a class="btn btn-default" href="{{ signup_url }}">{% trans "Create new account?" %}</a>
            </form>

        </div>
    </div>

{% endblock %}
