/*a{*/
/*color: #f5f5f5;*/
/*}*/

.ui-state-active, .click{
    background-color: #28b62c;
    background: #28b62c;
    /*lawngreen*/
}

.home-width{
    width: 75%;
    margin: 0 auto;
}

.nav li {
    border-left: 1px solid black;
    font-size: 13px;
}

.panel-body{
    background-color: #7e98a8;
}

.panel-default>.panel-heading{
    /*background-color: #e89362;*/
    /*border-color: #e89362;*/
    background-color: #2c3e50;
    border-color: #2c3e50;
    color: #ffffff;
}

.panel-group .panel-footer{
    /*background-color: #e89362;*/
    /*border-color: #e89362;*/
    background-color: #3e444c;
    border-color: #3e444c;
    color: #ffffff;

    white-space: nowrap;
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */

}

.btn-block{
    width: 100%;
}

.social-buttons{
    width: 100%;
}

.jstree-node{
    font-size: 15px;
}

.btn{
    margin-top: 5px;
}

body {
    background-color: #a8a4a3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%
}

.pager{
    margin: 0;
}

.pager>li>a {
    background-color: #3a3f44;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    background-image: -webkit-linear-gradient(#484e55,#3a3f44 60%,#313539);
    background-image: linear-gradient(#484e55,#3a3f44 60%,#313539);
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.6);
}

.pager>li>a:hover {
    background-color: #3a3f44;
    background-image: linear-gradient(#020202,#101112 40%,#191b1d);
    border: 1px solid rgba(0,0,0,0.6);

}

a#save_image.btn.btn-default.save_image  {
    background: #910000;
    /*background-image: url("media/images/free-vector-heart-gloss-5_101629_Heart_Gloss_5.png"); *//* fallback */
    /*background-image: url("media/images/free-vector-heart-gloss-5_101629_Heart_Gloss_5.png"), -webkit-gradient(linear, left top, left bottom, from(#6cab26), to(#6ceb86)); *//* Saf4+, Chrome */
    /*background-image: url("media/images/free-vector-heart-gloss-5_101629_Heart_Gloss_5.png"), -webkit-linear-gradient(top, #910000, #e20000); *//* Chrome 10+, Saf5.1+ */
    /*background-image: url("media/images/free-vector-heart-gloss-5_101629_Heart_Gloss_5.png"),    -moz-linear-gradient(top, #910000, #e20000); *//* FF3.6+ */
    /*background-image: url("media/images/free-vector-heart-gloss-5_101629_Heart_Gloss_5.png"),     -ms-linear-gradient(top, #910000, #e20000); *//* IE10 */
    /*background-image: url("media/images/free-vector-heart-gloss-5_101629_Heart_Gloss_5.png"),      -o-linear-gradient(top, #910000, #e20000); *//* Opera 11.10+ */
    /*background-image: url("media/images/free-vector-heart-gloss-5_101629_Heart_Gloss_5.png"),         linear-gradient(to bottom, #910000, #e20000); *//* W3C */


    /*background: #3a3f44;*/
    background-image: linear-gradient(#910000, #ac0000 60%, #e20000);
}

a:hover#save_image.btn.btn-default.save_image  {
    background-image: linear-gradient(#D92432, #e32537 40%, #ff263b);
}

.navbar-brand {
    height: 50px;
    padding: 10px;
    padding-bottom: 15px;
}

.lv_logos {
    background-image: url('media/images/lost-visions-station.png');
    height: 50px;
    width: 85px;
    margin: 3px
}

.logo1 {
    background-size: 80px 40px;
    background-position: -300px -500px;
}

.remove_button {
    position: absolute;
    right:5px;
    top:0px
}

.collapse-init {
    position: absolute;
    right:25px;
    top:0px;
    background-image: -webkit-linear-gradient(#484e55,#3a3f44 60%,#313539);
    background-color: #3a3f44;
    border: 1px solid rgba(255, 255, 255, 0.60);

}

.category-answer {
    /*height: 40px;*/
    max-width: 25%;
    margin-bottom: 10px;
    margin-right: 10px;
    /*position: absolute;*/
    padding: 5px;
    background-color: #3a3f44;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    background-image: -webkit-linear-gradient(#484e55,#3a3f44 60%,#313539);
    background-image: linear-gradient(#484e55,#3a3f44 60%,#313539);
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.6);
    cursor: hand;
}

.category-answer:hover {
    background-color: #3a3f44;
    background-image: linear-gradient(#020202,#101112 40%,#191b1d);
    border: 1px solid rgba(0,0,0,0.6);

}

.category-answer-image {
    margin: 1px;
    /*height: 40px;*/
    /*width: 40px;*/
}

.wrap-text {
    text-align: center;
    white-space: normal;
    word-wrap: normal;
}