{% extends "base.html" %}


{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3>ENCAP</h3></div>
        <div class="panel-body">
            <div class="col-lg-12">
                <h4>
                    <p>Julia Thomas</p>
                </h4>
                <div class="col-xs-12 col-sm-4">
                    <img src="http://www.cf.ac.uk/encap/images/thomas-julia-web.jpg" style="width: 125px">
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h4>Research Interests</h4>
                    <p>
                        Research interests include interoperability of experimental and production data and computing resources, utilising scalable computing infrastructures such as Cloud and Grid Computing environments, and development of tools useful to the research community.
                    </p>

                    <h4>University Profile</h4>
                    <p>
                        <a href="http://www.cf.ac.uk/encap/contactsandpeople/profiles/thomas-julia.html" target="_blank">Here</a>
                    </p>
                </div>
            </div>
            <hr>
            <div class="col-lg-12">
                <h4>
                    <p>David Skilton</p>
                </h4>
                <div class="col-xs-12 col-sm-4">
                    <img src="http://www.cf.ac.uk/encap/images/skilton-david-web.jpg" style="width: 125px">
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h4>Research Interests</h4>
                    <p>
                    </p>
                    <h4>University Profile</h4>
                    <p>
                        <a href="http://www.cf.ac.uk/encap/contactsandpeople/profiles/skilton-david.html" target="_blank">Here</a>
                    </p>
                </div>
            </div>
             <hr>
            <div class="col-lg-12">
                <h4>
                    <p>Nicola Lloyd</p>
                </h4>
                <div class="col-xs-12 col-sm-4">
                    <img src="" style="width: 125px">
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h4>Research Interests</h4>
                    <p>
                    </p>
                    <h4>University Profile</h4>
                    <p>
                        <a href="http://www.cardiff.ac.uk/encap/degreeprogrammes/postgraduateresearch/currentphdtopics/pgstudents/lloyd.html" target="_blank">Here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3>COMSCI</h3></div>
        <div class="panel-body">
            <div class="col-lg-12">
                <h4>
                    <p>Omer Rana</p>
                </h4>
                <div class="col-xs-12 col-sm-4">
                    <img src="http://users.cs.cf.ac.uk/O.F.Rana/o.f.rana.jpg" style="width: 125px">
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h4>Research Interests</h4>
                    <p>
                    </p>
                    <h4>University Profile</h4>
                    <p>
                        <a href="https://www.cs.cf.ac.uk/contactsandpeople/staffpage.php?emailname=O.F.Rana" target="_blank">Here</a>
                    </p>
                </div>
            </div>
            <hr>
            <div class="col-lg-12">
                <h4>
                    <p>Paul Rosin</p>
                </h4>
                <div class="col-xs-12 col-sm-4">
                    <img src="http://www.cs.cf.ac.uk/contactsandpeople/staff/paul.rosin.jpg" style="width: 125px">
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h4>Research Interests</h4>
                    <p>
                    </p>
                    <h4>University Profile</h4>
                    <p>
                        <a href="http://www.cs.cf.ac.uk/contactsandpeople/staffpage.php?emailname=paul.rosin" target="_blank">Here</a>
                    </p>
                </div>
            </div>
            <hr>
            <div class="col-lg-12">
                <h4>
                    <p>
                        Ian Harvey
                    </p>
                </h4>
                <div class="col-xs-12 col-sm-4">
                    <img src="http://wiserd.ac.uk/files/cache/6b3a17cd6e698e98fb1a01894542c989_f596.jpg" style="width: 125px">
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h4>Research Interests</h4>
                    <p>
                        Research interests include interoperability of experimental and production data and computing resources, utilising scalable computing infrastructures such as Cloud and Grid Computing environments, and development of tools useful to the research community.
                    </p>
                    <h4>University Profile</h4>
                    <p>
                        <a href="" target="_blank">Here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3>ARCCA</h3></div>
        <div class="panel-body">
            <div class="col-lg-12">
                <h4>
                    <p>Wayne Lawrence</p>
                </h4>
                <div class="col-xs-12 col-sm-4">
                    <img src="" style="width: 125px">
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h4>Research Interests</h4>
                    <p>
                    </p>
                    <h4>LinkedIn Profile</h4>
                    <p>
                        <a href="http://uk.linkedin.com/pub/wayne-lawrence/8/534/335" target="_blank">Here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}