{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="panel panel-default">

        <div class="panel">
            <div class="panel-heading" style="color: #ffffff">
                <span style="font-size: x-large">&#10087;</span>Lost Visions: Retrieving the Visual Element of Printed Books from the Nineteenth Century
            </div>
            <div class="panel-body">
                <h4>
                    <p style="font-style: italic">
                        Welcome to The Illustration Archive. The Archive was created on the ‘Lost Visions’ project, funded by the Arts and Humanities Research Council (2014-15), and was the result of collaboration between humanities specialists and computer scientists at Cardiff University. Having developed an earlier online illustration resource, The Database of Mid-Victorian Illustration (www.dmvi.org.uk), the objective of Lost Visions was to make more historic illustrations than ever before available to the public in a searchable form.
                    </p>
                </h4>
                <hr>
                <p>
                    Our motivation came from the fact that, despite their cultural importance, the images that adorned eighteenth and nineteenth century books have largely disappeared from view. Publishers rarely print Victorian novels with the images with which they originally appeared, while in museums and galleries, illustrations are low on the list of exhibition and conservation priorities. In a digital age, illustrations have fared no better. Although digital projects have potentially made these images available, they are not marked up or ‘tagged’ in a way that allows them to be found.                </p>
                <p>
                    The Illustration Archive attempts to remedy this by making available and fully searchable over a million illustrations from works of literature, philosophy, history and geography that are in the British Library’s collection and were scanned by Microsoft. The Archive is intended to be a voyage of visual discovery. While developing the archive, the team came across beautifully-coloured landscapes, meticulously-engraved portraits and crudely-rendered advertisements. There is an illustration here for every occasion. They are just waiting to be rediscovered.…
                </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="panel panel-default">
        <div class="panel">
            <div class="panel-heading" style="color: #ffffff">
                Events, appearances, conferences and dissemination activities
            </div>
            <div class="panel-body">
                <h2>Digital histories podcast</h2>
                <a target="_blank" href="http://www.history.ac.uk/podcasts/digital-history/lost-visions-retrieving-visual-element-printed-books">http://www.history.ac.uk/podcasts/digital-history/lost-visions-retrieving-visual-element-printed-books
                </a>
            </div>
        </div>
    </div>

    <hr>

    <div class="panel panel-default">
        <div class="panel">

            <div class="panel-heading" style="color: #ffffff">School of English, Communication and Philosophy, Cardiff University</div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <h4>
                        <p>Julia Thomas</p>
                    </h4>
                    <div class="col-xs-12 col-sm-4">
                        <img src="{% static "media/images/about_us/thomas-julia-web.jpg" %}" style="width: 125px">
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <h4>University webpage</h4>
                        <p>
                            <a href="http://www.cf.ac.uk/encap/contactsandpeople/profiles/thomas-julia.html" target="_blank">Here</a>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="col-lg-12">
                    <h4>
                        <p>David Skilton</p>
                    </h4>
                    <div class="col-xs-12 col-sm-4">
                        <img src="http://www.cf.ac.uk/encap/images/skilton-david-web.jpg" style="width: 125px">
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <h4>University webpage</h4>
                        <p>
                            <a href="{% static "media/images/about_us/skilton-david-web.jpg" %}" target="_blank">Here</a>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="col-lg-12">
                    <h4>
                        <p>Nicola Lloyd</p>
                    </h4>
                    <div class="col-xs-12 col-sm-4">
                        <img src="{% static "media/images/about_us/Nicky.jpg" %}" style="width: 125px">
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <h4>University webpage</h4>
                        <p>
                            <a href="http://www.cardiff.ac.uk/encap/degreeprogrammes/postgraduateresearch/currentphdtopics/pgstudents/lloyd.html" target="_blank">Here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel">

                <div class="panel-heading" style="color: #ffffff">School of Computer Science and Informatics, Cardiff University</div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <h4>
                            <p>Omer Rana</p>
                        </h4>
                        <div class="col-xs-12 col-sm-4">
                            <img src="{% static "media/images/about_us/o.f.rana.jpg" %}" style="width: 125px">
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>University webpage</h4>
                            <p>
                                <a href="https://www.cs.cf.ac.uk/contactsandpeople/staffpage.php?emailname=O.F.Rana" target="_blank">Here</a>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <h4>
                            <p>Paul Rosin</p>
                        </h4>
                        <div class="col-xs-12 col-sm-4">
                            <img src="{% static "media/images/about_us/paul.rosin.jpg" %}" style="width: 125px">
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>University webpage</h4>
                            <p>
                                <a href="http://www.cs.cf.ac.uk/contactsandpeople/staffpage.php?emailname=paul.rosin" target="_blank">Here</a>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <h4>
                            <p>
                                Ian Harvey
                            </p>
                        </h4>
                        <div class="col-xs-12 col-sm-4">
                            <img src="{% static "media/images/about_us/i.harvey.jpg" %}" style="width: 125px">
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>Research Interests</h4>
                            <p>
                                Research interests include interoperability of experimental and production data and computing resources, utilising scalable computing infrastructures such as Cloud and Grid Computing environments, and development of tools useful to the research community.
                            </p>
                            <h4>University webpage</h4>
                            <p>
                                <a href="" target="_blank">Here</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel">
                <div class="panel-heading" style="color: #ffffff">Advanced Research Computing@Cardiff</div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <h4>
                            <p>ARCCA</p>
                        </h4>
                        <div class="col-xs-12 col-sm-4">
                            <img src="" style="width: 125px">
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <h4>University webpage</h4>
                            <p>
                                {#                                                                                <a href="http://uk.linkedin.com/pub/wayne-lawrence/8/534/335" target="_blank">Here</a>#}
                                <a href="http://www.cardiff.ac.uk/arcca/" target="_blank">Here</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}