{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>
    Education uses of the Illustration Archive
    </h1>




        <p class="c4 c10">
            <span style="overflow: hidden; display: inline-block; margin: 0px 0px; border: 0px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 553.33px; height: 110.67px;">
                <img alt="" src="{% static "media/documents/images/image03.jpg" %}" style="width: 553px; height: 111px; margin-left: 0px; margin-top: 0px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c4 c10">
            <span class="c2 c8">
                This guide is intended to introduce teachers to </span>
            <span class="c2 c7">
                The Illustration Archive</span>
            <span class="c2 c8">
                &nbsp;and to suggest various ways in which the Archive might be used creatively to engage students.</span>
        </p>
        <p class="c4 c10">
            <span class="c2 c8">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 125.09px; height: 156.19px;">
                <img alt="" src="{% static "media/documents/images/image05.jpg" %}" style="width: 125.09px; height: 172.56px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                Images play a key role in stimulating the imagination. An image can challenge, reinforce, or disrupt previously held assumptions, or it can simply help to inspire discussion. A picture, as the saying goes, tells a thousand words, but perhaps even more significantly, a picture can transform our understanding of place, history, culture and identity. </span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                Although we increasingly inhabit a &lsquo;visual culture&rsquo;, however, in many ways we are still in thrall to the textual, with the written word dominating cultural and critical practice. For example, many of the classic texts studied on literature courses have had their original illustrations removed by publishers, despite the fact that these works are crucial components in how the text was read. For an historically accurate reading, of, say, </span>
            <span class="c2 c9">
                Oliver Twist</span>
            <span class="c2">
                , we need to take into account George Cruikshank&rsquo;s pictures as well as Dickens&rsquo; words. </span>
            <span class="c2 c9">
                The Illustration Archive</span>
            <span class="c2">
                &nbsp;not only provides these illustrations (along with the books in which they appeared), but also allows for other contemporaneous images to be read in conjunction with them, enabling students to understand that the text itself is just one component of a complex web of differing cultural practices. </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 242.67px; height: 325.13px;">
                <img alt="" src="{% static "media/documents/images/image06.jpg" %}" style="width: 242.67px; height: 368.43px; margin-left: -0.00px; margin-top: -15.67px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <a name="h.gjdgxs">
            </a>
            <span class="c2">
                In addition to the significance of the Archive for literature, it also contains different types of images that can be used in other subject areas. &nbsp;There are photographs from World War I, which provide &nbsp; &nbsp; &nbsp;unique insights into the conflict for students studying history. There is also a large collection of historic maps that would enable geography students to explore how certain geographical features have changed over the centuries and how maps themselves are products of their cultural context. There is much in the Archive, too, that will benefit art teachers by showing the development of artistic practice from the past and providing students with material to draw from or to re-imagine.</span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 144.33px; height: 185.53px;">
                <img alt="" src="{% static "media/documents/images/image07.jpg" %}" style="width: 144.33px; height: 185.53px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                All of the examples mentioned above are related to what we broadly define as &nbsp;&lsquo;the humanities&rsquo;, but one of the most fascinating aspects of the Archive is that it contains a wealth of illustrative material related to science and technology. There are diagrams of the human body, images of flora and fauna, of radio-waves, the solar system, animals, minerals, microscopes and other scientific apparatus. The Archive is so vast, in fact, that we simply do not know all the riches it contains. We would like you to help us discover it. </span>
        </p>
        <p class="c1">
            <span class="c2">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 169.44px; height: 180.06px;">
                <img alt="" src="{% static "media/documents/images/image08.jpg" %}" style="width: 169.44px; height: 180.06px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <span class="c2 c3">
                Features of </span>
            <span class="c2 c3 c9">
                The Illustration Archive</span>
        </p>
        <p class="c0">
            <span class="c2 c3">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                The main features are &lsquo;Search Illustrations&rsquo;, &lsquo;Tag Illustrations&rsquo;, &lsquo;Browse Illustrations&rsquo; and My Archive&rsquo;. While the &lsquo;Browse&rsquo; feature randomly generates illustrations, the &lsquo;Search&rsquo; feature enables specific illustrations to be found. The results can be refined using the &lsquo;Advanced Search&rsquo; function. The results allow the images to be seen with their bibliographic information or in a gallery view. Users can also see the page of the book in which the illustration appears, or, indeed, read the whole book online.</span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                The &lsquo;Tag Illustrations&rsquo; feature allows the user to describe a random picture. These keywords feed back into the system, allowing future users to find the illustrations based on the tags. It also invites students to think about the complexities between word and image and the difficulties involved in describing an image in words. </span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                The &lsquo;My Archive&rsquo; section (which is accessed by creating an account) allows users to create their own collections and exhibitions. There is even the opportunity to share the collections with others and to mount them on the Archive homepage. </span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <span class="c2 c3">
                Suggested Activities</span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                Here are some suggestions for how </span>
            <span class="c2 c9">
                The Illustration Archive</span>
            <span class="c2">
                &nbsp;can be used in the classroom. The activities can be adapted to suit a specific text or subject area and the requirements of various curricula. Please let us know about your own experiences and if you have any suggestions that we can add to this guide.</span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                Activity 1: literature in context</span>
        </p>
        <p class="c1">
            <span class="c2">
                Use </span>
            <span class="c2 c9">
                The Illustration Archive</span>
            <span class="c2">
                &nbsp;to discover the forgotten illustrations accompanying literary texts and/or to explore the historical context in which the texts were written. Investigate how illustrations inform, challenge, or transform an understanding of the text and its historical moment. What do illustrations from the early nineteenth century tell us about the time when Jane Austen was writing </span>
            <span class="c2 c9">
                Pride and Prejudice</span>
            <span class="c2">
                ? Use the Advanced Search, which allows material to be searched by bibliographic information, date range and by decade.</span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 225.33px; height: 264.93px;">
                <img alt="" src="{% static "media/documents/images/image10.jpg" %}" style="width: 225.33px; height: 264.93px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c1">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 277.47px; height: 159.73px;">
                <img alt="" src="{% static "media/documents/images/image09.jpg" %}" style="width: 277.47px; height: 159.73px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c1 c6">
            <span class="c2">
                Activity 2: storytelling</span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                Use the illustrations in the Archive to &lsquo;storyboard&rsquo; a fictional narrative. You could use the &lsquo;Browse Illustrations&rsquo; feature to generate random images for this purpose.</span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1 c6">
            <span class="c2">
                Activity 3: curate an exhibition</span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 186.27px; height: 212.53px;">
                <img alt="" src="{% static "media/documents/images/image12.jpg" %}" style="width: 186.27px; height: 212.53px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                Using the &lsquo;My Archive&rsquo; section, exhibitions can be created on a chosen theme, historical period, event or writer. The exhibitions can be curated, with students adding their own captions, and sharing their exhibitions with classmates. </span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c0 c6">
            <span class="c2">
            </span>
        </p>
        <p class="c1 c6">
            <span class="c2">
                Activity 4: exploring places</span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 163.27px; height: 168.00px;">
                <img alt="" src="{% static "media/documents/images/image11.jpg" %}" style="width: 163.27px; height: 168.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                Use the Archive to find illustrations of locations or buildings, perhaps even in your local environment, and compare the illustrations with images of the sites today. What has changed and why? </span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                Activity 5: writing portraits</span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 145.33px; height: 188.07px;">
                <img alt="" src="{% static "media/documents/images/image13.jpg" %}" style="width: 145.33px; height: 188.07px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c1">
            <span class="c2">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The Archive contains thousands of portraits. Students could choose a portrait of a figure and write a factual or fictional biography. How does a portrait relate to personality, or cultural ideas of identity?</span>
        </p>
        <p class="c0">
            <span class="c2">
            </span>
        </p>
        <p class="c4 c5">
            <span class="c2">
            </span>
        </p>
        <p class="c4 c6">
            <span class="c2">
                Activity 6: viewing fashion</span>
        </p>
        <p class="c4 c6">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 123.96px; height: 244.93px;">
                <img alt="" src="{% static "media/documents/images/image00.jpg" %}" style="width: 123.96px; height: 244.93px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c4">
            <span class="c2">
                The Illustration Archive has illustrations from the sixteenth to the twentieth century. Use the Archive to investigate how fashion has changed in this vast historical period. What does fashion tell us about gender, politics and society? </span>
        </p>
        <p class="c4 c5">
            <span class="c2">
            </span>
        </p>
        <p class="c4 c6">
            <span class="c2">
                Activity 7: techniques of reproduction</span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 182.67px; height: 110.13px;">
                <img alt="" src="{% static "media/documents/images/image01.jpg" %}" style="width: 182.67px; height: 110.13px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c4">
            <span class="c2">
                Using the keyword search, find images produced by different reproductive techniques (for example, a wood engraving, lithograph or etching). Ask the students to find out more about the technique: when did it emerge? What did it allow illustrations to do that they had not been able to do previously? How did it change or challenge knowledge?</span>
        </p>
        <p class="c4 c5">
            <span class="c2">
            </span>
        </p>
        <p class="c4">
            <span class="c2">
                Activity 8: using decorations </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 118.13px; height: 118.13px;">
                <img alt="" src="{% static "media/documents/images/image02.jpg" %}" style="width: 118.13px; height: 118.13px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c4">
            <span class="c2">
                The archive is full of decorative motifs. Textiles and art students could chose a particular decoration and re-create it on cushions, fabrics or on canvas. &nbsp;</span>
        </p>
        <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 289.50px; height: 55.14px;">
                <img alt="" src="{% static "media/documents/images/image04.jpg" %}" style="width: 289.50px; height: 55.14px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
        </p>
        <p class="c4 c5">
            <span class="c2">
            </span>
        </p>
        <p class="c4 c5">
            <span class="c2">
            </span>
        </p>
        <p class="c4">
            <span class="c2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </p>
        <p class="c4 c5">
            <span class="c2">
            </span>
        </p>
        <p class="c4 c5">
            <span class="c2">
            </span>
        </p>
        <p class="c4 c5">
            <span>
            </span>
        </p>
        <p class="c4 c5">
            <span>
            </span>
        </p>
    </body>





    <p>
        <a target="_blank" href="{% static 'media/documents/LostVisionsWorkshop.docx.pdf' %}">Worksheet</a>
    </p>
    <p>
        With many thanks to:
    </p>
    <table>
        <tr>
            <td style="padding: 10px">
                <p><img src="{% static 'media/documents/ljmu/ljmu-content-page-logo-2013-ready.png' %}"></p>

            </td>
            <td style="padding: 10px">
                <p>Clare Horrocks BA (Hons), MA, CT VCM, PHD<br>
                    Senior Lecturer, Humanities and Social Science<br>
                    Liverpool John Moores University<br>
                </p>
            </td>
        </tr>
    </table>

{% endblock %}