{% extends "base.html" %}

{% block content %}

    <div class="panel panel-default home-width">
        <div class="panel-heading"><h3>The Lost Visions Project</h3></div>
        <div class="panel-body">

            <h4>
                <p>
                    Thousands of neglected images dating back to the eighteenth century will soon be available for the public to search online and find out more about how they have shaped our culture.<p>
                ‘Lost Visions: retrieving the visual element of printed books from the nineteenth century’ led by Professor Julia Thomas, School of English, Communication & Philosophy is one of 21 new research projects, funded by the Arts and Humanities Research Council, to address the challenges of working with big data and making the information more accessible and easier to interpret by a lay audience.
            </p>
                <p>
                    In collaboration with experts at Cardiff’s School of Computer Sciences & Informatics, Professor Thomas will work on more than a million illustrations from books in the British Library's collection. Although many historical texts have been digitally stored, the illustrations in these texts are frequently without the information needed to help people understand them.
                </p>
            </h4>


            <p>
                The Cardiff team will devise methods that will enable the collection of illustrations to become fully searchable online.
            </p>
            <p>
                "There is a real risk that tomorrow's readers will be almost unaware of illustration and whole genres of artistic, educational and informative products may effectively be lost to us," said Professor Thomas. "This unique collaboration between computer experts and illustration experts aims to overcome this by helping us to better understand the images that fed into our own visual culture"
            </p>

            <p>
                "We’re focusing on illustrations from books spanning the eighteenth to the twentieth century, a period that is arguably the most important in British book illustration. In these years, rapid changes in reproductive techniques were paralleled by changes in the meanings of art and its reception. Art was democratised and book illustrations became more widely collectable and mobile than ever before.
            </p>
            <p>
                "The result of our work will be the biggest searchable archive of book illustrations, which can be freely used and accessed by the public. It has the potential to revolutionise how illustration is understood and the importance accorded to it, to supply an image-hungry commercial world with illustrative material, and to lead to ever more accurate ways of classifying and analysing images in large databases," added Professor Thomas.
            </p>
            <p>
                Announcing the projects receiving funding, Minister for Universities and Science, David Willetts, said: "Getting quality data out of the hands of a few and into the public domain is an important goal for this Government.
            </p>
            <p>
                "This funding will help to overcome the challenge of making vast amounts of rich data more accessible and easier to interpret by the public. These 21 projects promise to come up with innovative long-lasting solutions."
            </p>
            <p>
                The projects have been funded under the £4.6M, ‘Digital Transformations in the Arts and Humanities: Big Data Research’ funded by the Arts and Humanities Research Council with support from the Economic and Social Research Council.  Each project will also produce a tangible asset that sustains beyond the life of the project.  These will include open source tools to analyse election poll data and an online teaching resource which will hold a collection of pronunciations of words from speakers of different varieties of English.
            </p>

        </div>
    </div>


{% endblock %}