{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block content %}

    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">

    {#        function register_tree_categories() {#}
    {#            $('#add_category').click(function(){#}
    {#                console.log(this);#}
    {##}
    {#                var input_field = $("#input_tag");#}
    {#                var tag_string = input_field.val();#}
    {#                if (tag_string != "") {#}
    {#                    var id = 'id_' + tag_string;#}
    {##}
    {#                    var $check = $('<input/>').attr({type: 'checkbox', id: id, checked: true, name: tag_string});#}
    {#                    var $label = $('<label/>').attr({for: id}).html(tag_string);#}
    {##}
    {##}
    {#                    $("#add_category_body").prepend($label).prepend($check);#}
    {##}
    {#                    $( "input[type=checkbox]" )#}
    {#                            .button();#}
    {#                }#}
    {#                input_field.val("");#}
    {#            });#}
    {#        }#}
    $(window).load(function(){
        $('.js-masonry').masonry();
    });

    $(window).resize(function(){
        $('.js-masonry').masonry();
    });

    function getDefaultFontSize(pa){
        pa= pa || document.body;
        var who= document.createElement('div');

        who.style.cssText='display:inline-block; padding:0; line-height:1; position:absolute; visibility:hidden; font-size:1em';

        who.appendChild(document.createTextNode('M'));
        pa.appendChild(who);
        var fs= [who.offsetWidth, who.offsetHeight];
        pa.removeChild(who);
        return fs;
    }

    $(document).ready(function () {
        $('.js-masonry').masonry();

        $('#collapse_cloud').accordion({
            active: false,
            collapsible: true,
            heightStyle: "content"

        });

        var word_array = [
            {text: "Lorem", weight: 25},
            {text: "Ipsum", weight: 19, link: "http://jquery.com/"},
            {text: "Dolor", weight: 16, html: {title: "I can haz any html attribute"}},
            {text: "Sit", weight: 17},
            {text: "Amet", weight: 15}
            // ...as many words as you want
        ];

        var tags = '';
        var the_tags = {{ image_tags|safe }};
        var font_size = getDefaultFontSize()[1];

        for (var tag in the_tags) {
            tags += '<div class="btn btn-success" ' +
                    'style="margin: 5px; display: inline-block; font-size: '
                    + (font_size/2 + (the_tags[tag]['uses'] * (font_size/2))) + 'px">' + the_tags[tag]['tag'] + '</div>';
        }

        console.log(the_tags);

        $('#tag_cloud').html(tags);



        var all_tags = [];

        $( "#dictionary" ).autocomplete({
            source: "{% url 'find.word' %}",
            minLength: 3,
            select: function( event, ui ) {
                {#                console.log( ui.item ?#}
                {#                        "Selected: " + ui.item.value + " aka " + ui.item.id :#}
                {#                        "Nothing selected, input was " + this.value );#}

                var tag_string = ui.item.value;
                var id = 'id_' + tag_string;
                var synset = ui.item.synset;

                var $check = $('<input/>').attr({type: 'checkbox', id: id, checked: true, name: tag_string, x_percent: hightlighted_x_percent, y_percent: hightlighted_y_percent});
                var $label = $('<label/>').attr({for: id}).html(tag_string);

                var $button_toggle = '<div class="btn btn-success tag-button" data-toggle="tooltip" data-placement="right" title="Remove this Tag" data-original-title="Remove this Tag"'
                        + 'id="' + id +
                        '" name="' + tag_string +
                        '" x_percent="' + hightlighted_x_percent +
                        '" y_percent="' + hightlighted_y_percent + '">' + tag_string + '</div>';


                var d = new Date();
                var datetime = d.toISOString();
                all_tags.push({tag: tag_string,
                    synset: synset,
                    x_percent: hightlighted_x_percent,
                    y_percent: hightlighted_y_percent,
                    x_pixel: highlighted_x_pixel,
                    y_pixel: highlighted_y_pixel,
                    datetime: datetime,
                    tag_order: all_tags.length
                });

                hightlighted_x_percent = 0;
                hightlighted_y_percent = 0;
                highlighted_x_pixel = 0;
                highlighted_y_pixel = 0;

                document.getElementById("tag_info").value = JSON.stringify(all_tags);
                {#                console.log(JSON.parse(document.getElementById("tag_info").value));#}

                {#                $("#add_tags_body").prepend($label).prepend($check);#}

                var button_toggle_component = $($button_toggle).click(function(){
                    $(this).remove();
                }).tooltip();

                $("#add_tags_body").append(button_toggle_component);

                {#                    $("[data-toggle='tooltip']").tooltip();#}

                {#                $( "input[type=checkbox]" )#}
                {#                        .button();#}

                ui.item.value = "";
            }
        }).keypress(function(e) {
            if (image_clicked()) {
                if(e.which == 13) {
                    alert('You pressed enter!');
                    return false;
                }
            }
            return true;
        }).focus(function(e){
            image_clicked()
        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                    .append( "<a><strong>" + item.label + "</strong><br>" + item.desc + "</a>" )
                    .appendTo( ul );
        };

        function image_clicked(){
            if(hightlighted_x_percent == 0
                    && hightlighted_y_percent == 0
                    && highlighted_x_pixel == 0
                    && highlighted_y_pixel == 0) {

                var focus_message = '<div class="alert alert-dismissable alert-warning">\
  <button type="button" class="close" data-dismiss="alert">×</button>\
  Please try clicking part of the image before tagging objects.</div>'
                $('#focus_alerts').html(focus_message).fadeIn(100);
            } else {
                $('#focus_alerts').fadeOut(1000);
            }
        }

        $('#load_new_image').click(function(){
            window.location.replace('{% url 'image.random' %}');
        });

        $('#save_image').click(function() {
            $.ajax({
                type: "POST",
                url: "{% url 'user_profile.save_image' %}",
                data: {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    image_id: {{ image_id }}
                },
                success: function(data) {
                    alert("Added Image to Favourites");
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("Problem saving Image: "+errorThrown+xhr.status+xhr.responseText);
                }
            });
        });

        function populate_categories(cat_id, callback) {
            $.ajax({
                type: "POST",
                url: "{% url 'image.category' %}",
                data: {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    category_id: cat_id,
                    image_id: {{ image_id }}
                },
                success: function(data) {
                    var question = data['question'];
                    console.log(data);
                    $('#category-question').html(question);

                    var category_container = $('#category-container');

                    var masonry_container = category_container.masonry();
                    masonry_container.masonry( 'remove', masonry_container.find('.category-answer'));

                    for (var ans in data['answers']) {

                        var classname = 'category-answer';
                        if (data['answers'][ans].text.length > 5) {
                            classname = 'category-answer wide';
                        } else {

                        }

                        var answer = '<div class="' + classname + '" data-category_id="' + data['answers'][ans].id + '"> \
                            <div class="panel">\
                                <div class="category-answer-image">\
                                    <img src="' + data['answers'][ans].img + '"\
                                         style="width:100%; height: auto;\
                                         margin:0 auto; display:block; border:1px">\
                                </div>\
                                <div class="panel-footer">\
                                    <div class="wrap-text">\
                                        ' + data['answers'][ans].text + '\
                                    </div>\
                                </div>\
                            </div>\
                        </div>\
                        ';
                        {#                        style="min-width:80px; min-height: 80px; max-width:90px; max-height: 90px;\#}

                        var elem = $(answer);
                        masonry_container.append(elem).masonry( 'appended', elem );

                    }


                    for (var ans in data['actions']) {

                        var classname = 'category-answer';
                        if (data['actions'][ans].text.length > 9) {
                            classname = 'category-answer wide';
                        } else {

                        }

                        var answer = '<div class="' + classname + '" data-link="' + data['actions'][ans].link +
                                '" data-action_name="' + data['actions'][ans].action +
                                '" data-category_id="' + data['actions'][ans].id + '"> \
                            <div class="panel">\
                                <div class="category-answer-image">\
                                    <img src="' + data['actions'][ans].img + '"\
                                         style="width:100%; height: auto;\
                                         margin:0 auto; display:block; border:1px">\
                                </div>\
                                <div class="panel-footer">\
                                    <div class="wrap-text">\
                                        ' + data['actions'][ans].text + '\
                                    </div>\
                                </div>\
                            </div>\
                        </div>\
                        ';
                        {#                        style="min-width:80px; min-height: 80px; max-width:90px; max-height: 90px;\#}

                        var elem = $(answer);
                        masonry_container.append(elem).masonry( 'appended', elem );

                    }

                    enable_category_click();

                    setTimeout("$('#category-container').masonry()", 1500);
                    category_container.masonry();
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log("Problem with category: "+errorThrown+xhr.status+xhr.responseText);
                }
            });
            if (callback != null) {
                callback();
            }
        }

        function enable_category_click() {
            $('.category-answer').click(function() {

                if ($(this).data('action_name') == 'gazetteer') {
                    var cat_id = $(this).data('category_id');
                    var map_link = $(this).data('link');

                    console.log('clicked a request to show gazetteer');

                    var places_autocomplete = '<label class="control-label" for="places">Location: </label> \
                    <input class="form-control" id="places">'

                    var elem = $(places_autocomplete);
                    var category_extra_div = $('#category-extra');
                    category_extra_div.append(elem).on('focus', '.form-control', function() {

                        $( "#places" ).autocomplete({
                            source: function(request, response) {
                                $.ajax({
                                    type: 'GET',
                                    url: "http://unlock.edina.ac.uk/ws/nameSearch",
                                    dataType: "json",
                                    data: {
                                        name : request.term,
                                        format: "json",
                                        maxRows: 15
                                        {#                                    data_object : "publisher"#}
                                    },
                                    success: function(data) {
                                        response(data.features);
                                    }
                                });
                            },
                            minLength: 3,
                            select: function( event, ui ) {

                                var map_link_string = map_link
                                        + '?x=' + ui.item.properties.centroid.split(', ')[0]
                                        + '&y=' + ui.item.properties.centroid.split(', ')[1]

                                        + '&nex=' + ui.item.bbox[0]
                                        + '&ney=' + ui.item.bbox[1]
                                        + '&swx=' + ui.item.bbox[2]
                                        + '&swy=' + ui.item.bbox[3];

                                console.log(map_link_string);

                                var win = window.open( map_link_string, '_blank');
                                if(win){
                                    //Browser has allowed it to be opened
                                    win.focus();
                                }else{
                                    //Broswer has blocked it
                                    alert('Please allow popups for this site');
                                }

                                populate_categories(cat_id, null);
                                category_extra_div.empty();

                            }
                        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                            return $( "<li>" )
                                    .append( "<a><strong>" + item.properties.name + " - " + item.properties.country +
                                            "</strong><br>" + item.properties.featuretype
                                            + "<br>" + item.properties.centroid + "</a>" )
                                    .appendTo( ul );
                        };
                    });
                    var masonry_container = $('#category-container').masonry();
                    masonry_container.masonry( 'remove', masonry_container.find('.category-answer'));

                    setTimeout("$('.form-control').focus()", 500);
                }

                else if ($(this).data('link')) {
                    var win = window.open($(this).data('link'), '_blank');
                    if(win){
                        //Browser has allowed it to be opened
                        win.focus();
                    }else{
                        //Broswer has blocked it
                        alert('Please allow popups for this site');
                    }
                    var cat_id = $(this).data('category_id');
                    populate_categories(cat_id, null);
                }

                else {
                    var cat_id = $(this).data('category_id');
                    populate_categories(cat_id, null);
                }
            });
        }

        populate_categories(0, enable_category_click);

        $('#add_tag').click(function(){

            var input_field = $("#input_tag");
            var tag_string = input_field.val();
            if (tag_string != "") {
                var id = 'id_' + tag_string;

                {#                var $check = $('<input/>').attr({type: 'checkbox', id: id, checked: true, name: tag_string});#}
                {#                var $label = $('<label/>').attr({for: id}).html(tag_string);#}
                {##}
                {#                $( "input[type=checkbox]" )#}
                {#                        .button();#}
            }
            input_field.val("");
        });

        var degs = 0;
        var r = $("#photo").get(0).getBoundingClientRect();

        $(".rota").click(function() {
            var photo = $("#photo");
            var turn_degs = $(this).data('degs');

            if (turn_degs == 'reset') {
                degs = 0;
            } else {
                degs += turn_degs;
                if (degs < 0) {
                    degs += 360;
                }
            }

            photo.rotate( {animateTo: degs}, 'abs' );

            degs = degs%360;

            var offset_top = photo.offset().top;

            var offset_l = photo.offset().left;

            $("#rotval").html(degs + " degrees rotation" + "<br>" +
                    offset_top + "<br>" + offset_l + "<br>" + r.top+ "<br>" + r.left);

            load_css();
        });


        var hightlighted_x_percent = 0;
        var hightlighted_y_percent = 0;
        var highlighted_x_pixel = 0;
        var highlighted_y_pixel = 0;

        $('#photo').click(function(e) {
            var posX = $(this).offset().left;
            var posY = $(this).offset().top;

            var x = (e.pageX - posX);
            var y = (e.pageY - posY);

            var canvas_object = $('#photo'),
                    canvas = canvas_object.get(0),
                    ctx = canvas.getContext('2d');
            canvas.width = canvas.width;

            ctx.strokeStyle = '#00FF00';

            all_tags.forEach(function(entry) {
                {#                ctx.beginPath();#}
                ctx.fillStyle = "green";
                ctx.moveTo(entry.x_pixel, entry.y_pixel);
                ctx.arc(entry.x_pixel-10, entry.y_pixel-10, 10, 0, 2*Math.PI);
                ctx.fill();
                {#                ctx.closePath();#}
                {#                ctx.stroke();#}
            });

            ctx.strokeStyle = '#FF0000';

            {#            ctx.beginPath();#}
            ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, canvas.width, canvas.height);

            var coords = translateCoords(x, y, canvas, degs);

            ctx.rect(coords.x-10, coords.y-10, 20, 20);
            hightlighted_x_percent = coords.x_percent;
            hightlighted_y_percent = coords.y_percent;
            highlighted_x_pixel = coords.x;
            highlighted_y_pixel = coords.y;
            $('#focus_alerts').fadeOut(1000);

            ctx.stroke();

            $( "#dictionary").focus();
        });

        $('#category_tree').bind("ready.jstree", function(){

        }).jstree({ 'core' : {
            'data' : dmvi_categories

        }
        }).on("changed.jstree", function (e, data) {

            var inst = data.instance;
            var i, j = [];
            for(i = 0, j = data.selected.length; i < j; i++) {

                if (inst.is_leaf(inst.get_node(data.selected[i]))) {

                    var tag_string = inst.get_node(data.selected[i]).text
                    var id = 'id_' + tag_string;

                    var $check = $('<input/>').attr({type: 'checkbox', id: id, checked: true, name: tag_string});
                    var $label = $('<label/>').attr({for: id}).html(tag_string);


                    {#                    $("#add_category_body").prepend($label).prepend($check);#}

                    {#                    $( "input[type=checkbox]" )#}
                    {#                            .button();#}
                } else {
                    inst.toggle_node(inst.get_node(data.selected[i]));
                }
            }

        });

        var availableTags = [];

        dmvi_categories.forEach(function(entry) {

            availableTags.push(entry['text']);

        });


        cascade_nodes = function(id){
            dmvi_categories.forEach(function(entry) {
                if(entry['id'] == id) {
                    $('#category_tree').jstree('open_node', entry['id']);
                    cascade_nodes(entry['parent'])
                }
            });
        };

        $( "#tags" ).autocomplete({
            source: availableTags,
            select: function( event, ui ) {
                $('#category_tree').jstree('close_all', -1);
                {#                    console.log( ui.item.label );#}
                {#                    console.log( ui.item.value );#}
                dmvi_categories.forEach(function(entry) {

                    if (entry['text'] == ui.item.label) {
                        {#                            $('#category_tree').jstree('toggle_node', entry['id']);#}
                        cascade_nodes(entry['id'])
                    }
                });
                return false;
            }
        });

        var active = true;

        $('#collapse-init').click(function () {
            if (active) {
                active = false;
                $('.panel-collapse').collapse('show');
                $('.panel-title').attr('data-toggle', '');
                $(this).text('-');
            } else {
                active = true;
                $('.panel-collapse').collapse('hide');
                $('.panel-title').attr('data-toggle', 'collapse');
                $(this).text('+');
            }
        });

        $('#accordion').on('show.bs.collapse', function () {
            if (active) $('#accordion .in').collapse('hide');

        }).on('shown.bs.collapse', function () {
            $('.js-masonry').masonry();

        }).bind('accordionchange', function(event, ui) {
            console.log('change scroll to ' + ui.newHeader.offset.top)
            /* In here, ui.newHeader = the newly active header as a jQ object
             ui.newContent = the newly active content area */
            {#            $.scrollTo( ui.newHeader ); // or ui.newContent, if you prefer#}
            $('html,body').animate({scrollTop: ui.newHeader.offset().top},'slow');
        });

        function scrollToAnchor(aid){
            var aTag = $("a[name='"+ aid +"']");
            $('html,body').animate({scrollTop: aTag.offset().top},'slow');
        }

        {#        <a style="display: block" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">#}


        {#        resize_box = function(){#}
        {##}
        {#            var photo = $("#photo");#}
        {#            var photo_width = photo.width();#}
        {#            var photo_height = photo.height();#}
        {##}
        {#            var p_b = $("#photo_background");#}
        {##}
        {#            console.log("x,y : " + photo_width + " " + photo_height)#}
        {##}
        {#            var max_length = (photo_height > photo_width) ? photo_height : photo_width;#}
        {##}
        {#            if (photo_width > photo_height) {#}
        {#                p_b.height(photo_width);#}
        {#                p_b.width(photo_width);#}
        {##}
        {#                photo.css("height: auto");#}
        {#                photo.css("width: auto");#}
        {#            } else {#}
        {##}
        {#                console.log("1 " + photo.width());#}
        {#                photo.css("height: " + photo_width + "px; width: auto; display: block;");#}
        {#                console.log("2 " + photo.width());#}
        {##}
        {##}
        {#                photo_width = photo.width();#}
        {#                p_b.height(photo_width);#}
        {#                p_b.width(photo_width);#}
        {#            }#}
        {##}
        {#            var top_margin = (p_b.height()/2) - (photo.height() /2);#}
        {##}
        {#            photo.css("margin-top:", top_margin);#}
        {##}
        {#            console.log("square : " + max_length);#}
        {#            console.log("margin : " + top_margin);#}
        {##}
        {#        };#}

        var canvas_object = $('#photo'),
                canvas = canvas_object.get(0),
                ctx = canvas.getContext('2d'),
                parent = canvas_object.parent(),
                img = new Image;

        function getMousePos(canvas, evt) {
            var rect = canvas.getBoundingClientRect();
            return {
                x: evt.clientX - rect.left,
                y: evt.clientY - rect.top
            };
        };

        function translateCoords(mouseX, mouseY, component, degreesRotation) {
            var centerpointX = (component.getBoundingClientRect().width /2);
            var centerpointY = (component.getBoundingClientRect().height /2);

            var mouseOffsetX = mouseX - centerpointX;
            var mouseOffsetY = mouseY - centerpointY;

            var radians = ((degreesRotation) * (Math.PI/180));

            var theta = Math.atan(mouseOffsetY / mouseOffsetX);

            var hyp = mouseOffsetX / Math.cos(theta);

            var scale = 1;

            if (Math.cos(radians) == 0) {
                scale = img.naturalWidth / canvas.height;
            } else {
                scale = img.naturalWidth / canvas.width;
            }

            var draw_x = (hyp * Math.cos(theta - radians)) + centerpointX;

            var draw_y = (hyp * Math.sin(theta - radians)) + centerpointY;

            return {
                radians: radians,
                theta: theta,
                hyp: hyp,
                x : draw_x,
                y : draw_y,
                offsetX : mouseOffsetX,
                offsetY : mouseOffsetY,
                centerpointX : centerpointX,
                centerpointY :  centerpointY,
                x_percent : (((draw_x/img.naturalWidth)*scale) *100),
                y_percent : (((draw_y/img.naturalHeight)*scale) *100)
            }
        };

        canvas.addEventListener('mousemove', function(evt) {
            var mousePos = getMousePos(canvas, evt);
            var translated_variables = translateCoords(mousePos.x, mousePos.y, canvas, degs);

            var message = 'Mouse position: ' + mousePos.x + ',' + mousePos.y;
            message += ('<br>draw coords: ' + translated_variables.x + ' , ' + translated_variables.y);
            message += ('<br>scale-x% : ' + translated_variables.x_percent + ', scale-y% ' + translated_variables.y_percent);

            message += ('<br>offset : ' + translated_variables.offsetX + ' , ' + translated_variables.offsetY);
            message += ('<br>centerpoint : ' + translated_variables.centerpointX + ' , ' + translated_variables.centerpointY);
            message += ('<br>theta : ' + translated_variables.theta + ', hyp : ' + translated_variables.hyp);
            message += ('<br>degs : ' + degs + ', rads : ' + translated_variables.radians);
            message += ('<br>t-x : ' + (mousePos.x / translated_variables.x) + ', t-y : ' + (mousePos.y / translated_variables.y));

            {#            $('#output').html(message);#}
        }, false);

        img.src = "{{ image.imageurl }}";
        img.onload = function(){
            var scale = img.naturalWidth / parent.width();
            canvas.width = parent.width();
            canvas.height = img.naturalHeight / scale;
            ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, canvas.width, canvas.height);

        };
    });


    </script>



    <div class="container">

    <div class="col-xs-12 col-sm-7">
        <div class="jumbotron">
            <div id="photo_background" class="photo_background">
                <canvas id='photo'></canvas>
                {#            src="{{ image.imageurl }}  style=' min-width:50px; min-height: 50px;width: 100%; height:auto; "#}
            </div>
        </div>

        <div class="panel-footer">
            <ul class="pager">
                <li class="previous">
                    <a class="rota btn btn-default" data-degs="-90">← Rotate left</a>
                </li>
                <li>
                    <a class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</a>
                </li>
                <li>
                    <a class="rota btn btn-default" data-degs="reset">Reset</a>
                </li>
                <li class="next">
                    <a class="rota btn btn-default" data-degs="90">Rotate right →</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="pager">
                    {#                <li>#}
                    {#                    <a class="btn btn-default" href="{% url 'image.map' image_id %}" target="_blank">Map</a>#}
                    {#                </li>#}
                    <li>
                        <a class="btn btn-default save_image" id="save_image">
                            <img src="{% static 'media/images/free-vector-heart-gloss-5_101629_Heart_Gloss_5.png' %}" style="max-height: 27px">
                        </a>
                    </li>

                </ul>
            {% endif %}

            <ul  class="pager">
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="I'm tagging this image with the @Lost_Visions project" data-size="large" data-hashtags="Lost_Visions">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </li>
            </ul>
            <div id="output"></div>
        </div>

        <hr>


        <div id="collapse_cloud" class="panel-group">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Cloud of Tags
                </h4>
            </div>

            <div class="panel-body">
                {#                <div id="tag_cloud" style="min-height: 100px; height: 300px; min-width: 100px; width: 300px"></div>#}
                <div id="tag_cloud" class="container-fluid" style="height: 200px; width:auto">
                    {#                    {% for key in image_tags %}#}
                    {#                        <div style="font-size: {{ key.uses }}px">#}
                    {#                            {{ key.tag }}: {{ key.uses }},#}
                    {#                        </div>#}
                    {#                    {% endfor %}#}
                </div>
            </div>
        </div>

        <hr>

        <div class="bs-example table-responsive">
            <table class="table table-striped table-hover ">
                <tbody>
                <tr><th>Permanent link</th><td><a href="{{ this_url }}" >{{ this_url }}</a></td></tr>
                <tr><th>Download Image</th><td>
                    {% if image.arcca == True %}
                        <a href="{% static image.imageurl %}" target="_blank" download>Download</a><br>
                        <a href="{% static image.imageurl %}" target="_blank">New Tab</a>
                    {% else %}
                        <a href="{{ image.flickr_url }}" target="_blank">From Flickr</a><br>
                    {% endif %}

                </td></tr>
                {% for mykey,value in formatted_info.items %}
                    {% if mykey != 'tags' %}
                        <tr><th>{{ mykey }}</th><td>{{ value }}</td></tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <hr>


        {% for linked in linked_images %}
            <div class="bs-example table-responsive">
                <table class="table table-striped table-hover ">
                    <tbody>
                    {#                    <tr><th>Name</th><td>{{ linked.name }}</td></tr>#}
                    <tr><th>Preliminary Sketch</th><td><a href="{{ linked.link }}" target="_blank">{{ linked.name }}</a></td></tr>
                    <tr><th>Info</th><td>{{ linked.info }}</td></tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}


    </div><!--/span-->

    <div class="col-xs-12 col-sm-5">

    <div class="container-fluid">

    <div id="right-main">

    <form action="{% url 'image.tags' %}" id="image-taggin-form" method="post">{% csrf_token %}
    {{ tag_form.non_field_errors }}
    <input type="hidden" name="image_id" value="{{ image_id }}" />
    <input type="hidden" id = 'tag_info' name="tag_info" value="" />


    <div class="panel-group" id="accordion">


    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Objects and Ideas
                    <div id="collapse-init" class="btn btn-primary btn-xs collapse-init">
                        +
                    </div>
                </h4>
            </div>
        </a>

        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                What things or ideas can you see in this image?<br>For example:  "bird", "table", "winter", "love"
                <div id="focus_alerts"></div>
                <div id="add_tags_body"></div>

                <div class="ui-widget">
                    <label class="'control-label" for="dictionary">Tags: </label>
                    <input class="'form-control" id="dictionary">
                </div>

            </div>
            <div class="panel-footer">
                <ul class="pager">
                    <li class="next">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                           class="btn btn-default">Next →</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>






    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a style="display: block" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Types of image
                </a>
            </h4>
        </div>

        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                Please select the type of image, if any, from the options below
                <div id="category-extra"></div>

                <div class="grid-sizer"></div>
                <div id="add_category_body"></div>

                <div id="category-question">{{ category_data.question }}</div>

                <div id="category-container" class="js-masonry"
                     data-masonry-options='{"itemSelector": ".category-answer" }'>
                </div>
            </div>
            <div class="panel-footer">
                <ul class="pager">
                    <li class="previous">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           class="btn btn-default">← Previous</a>
                    </li>
                    <li class="next">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                           class="btn btn-default">Next →</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>





    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a style="display: block" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Caption
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Please transcribe the Caption in this image, if present.</h4>
                <div id="free_text_caption" >
                    <label class="control-label" for="input_caption">Caption</label>
                    <textarea class="form-control" rows="2" id="input_caption" name="input_caption"></textarea>
                </div>

            </div>
            <div class="panel-footer">
                <ul class="pager">
                    <li class="previous">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                           class="btn btn-default">← Previous</a>
                    </li>
                    <li class="next">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                           class="btn btn-default">Next →</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a style="display: block" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    Description
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Please enter a description of the image</h4>

                <div id="free_text_description" class="row-fluid">
                    <label class="'control-label" for="free-text-area">Description</label>
                    <textarea name="image_description" class="form-control"
                              rows="3" id="free-text-area"></textarea>
                </div>

                <h4><a href="#">Or Discuss this Image on the Forum</a></h4>
            </div>

            <div class="panel-footer">
                <ul class="pager">
                    <li class="previous">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                           class="btn btn-default">← Previous</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    {#    <div class="panel panel-default">#}
    {#        <div class="panel-heading">#}
    {#            <h4 class="panel-title">#}
    {#                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">#}
    {#                    Please select the tags below which describe the image#}
    {#                </a>#}
    {#            </h4>#}
    {#        </div>#}
    {#        <div id="collapseSix" class="panel-collapse collapse">#}
    {#            <div class="panel-body">#}
    {##}
    {#                <div id="category-question">{{ category_data.question }}</div>#}
    {##}
    {#                <div id="category-container" class="js-masonry"#}
    {#                     data-masonry-options='{"itemSelector": ".category-answer" }'>#}
    {#                    {% for category_answer in category_data.answers %}#}
    {#                        <div class="category-answer" data-category_id="{{ category_answer.id }}">#}
    {#                            <div class="panel">#}
    {#                                <div class="category-answer-image">#}
    {#                                    <img src="{% static category_answer.img %}"#}
    {#                                         style="min-width:70px; min-height: 70px; max-width:90px; max-height: 90px;#}
    {#                                         margin:0 auto; display:block; border:1px">#}
    {#                                </div>#}
    {#                                <div class="panel-footer">#}
    {#                                    <div class="wrap-text">#}
    {#                                        {{ category_answer.text }}#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {##}
    {#                    {% empty %}#}
    {#                        <div class="category-answer">#}
    {#                            <p>(No categories available)</p>#}
    {#                        </div>#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#            <div class="panel-footer">#}
    {#                <ul class="pager">#}
    {#                    <li class="previous">#}
    {#                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"#}
    {#                           class="btn btn-default">← Previous</a>#}
    {#                    </li>#}
    {##}
    {#                </ul>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#    </div>#}





    {% if user.is_authenticated %}

    {% else %}
        <hr>
        <div class="bs-component">
            <div class="alert alert-dismissable alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Heads up!</strong>   You are not logged in. You can do more if you sign up!

            </div>
            <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
        </div>
    {% endif %}




    </div>
    <button type="submit" class="btn btn-primary btn-lg">Finish!</button>
    <div class="navbar-right">
        <div id="load_new_image" class="btn btn-primary">
            <a href="{% url 'image.random' %}">Skip</a>
        </div>
    </div>
    </form>

    </div>
    </div>

    </div>

    </div>

    {#    <div>#}
    {#        <table style="margin-top: 1em;">#}
    {#            <thead>#}
    {#            <tr>#}
    {#                <th colspan="2" style="font-size: 110%; font-weight: bold; text-align: left; padding-left: 0.1em;">#}
    {#                    Coordinates#}
    {#                </th>#}
    {#                <th colspan="2" style="font-size: 110%; font-weight: bold; text-align: left; padding-left: 0.1em;">#}
    {#                    Dimensions#}
    {#                </th>#}
    {#            </tr>#}
    {#            </thead>#}
    {#            <tbody>#}
    {#            <tr>#}
    {#                <td style="width: 10%;"><b>X<sub>1</sub>:</b></td>#}
    {#                <td style="width: 30%;"><input type="text" id="x1" value="-" /></td>#}
    {#                <td style="width: 20%;"><b>Width:</b></td>#}
    {#                <td><input type="text" value="-" id="w" /></td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <td><b>Y<sub>1</sub>:</b></td>#}
    {#                <td><input type="text" id="y1" value="-" /></td>#}
    {#                <td><b>Height:</b></td>#}
    {#                <td><input type="text" id="h" value="-" /></td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <td><b>X<sub>2</sub>:</b></td>#}
    {#                <td><input type="text" id="x2" value="-" /></td>#}
    {#                <td></td>#}
    {#                <td></td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <td><b>Y<sub>2</sub>:</b></td>#}
    {#                <td><input type="text" id="y2" value="-" /></td>#}
    {#                <td></td>#}
    {#                <td></td>#}
    {#            </tr>#}
    {#            </tbody>#}
    {#        </table>#}
    {#    </div>#}
    {#    <div class="container">#}
    {#        <div id="preview" style="width: 100px; height: 100px; overflow: hidden;">#}
    {#            <img src="{{ image.imageurl }}"/>#}
    {#        </div>#}
    {#    </div>#}

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img id='zoom-photo' src="{{ image.flickr_original_source }}" style='width: auto; height:75%; '>
            </div>
        </div>
    </div>
{% endblock %}