{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <!--
    Include the maps javascript with sensor=true because this code is using a
    sensor (a GPS locator) to determine the user's location.
    See: https://developers.google.com/maps/documentation/javascript/tutorial#Loading_the_Maps_API
    -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see a blank space instead of the map, this
        // is probably because you have denied permission for location sharing.

        var map;

        function initialize() {
            {#            var mapOptions = {#}
            {#                zoom: 6#}
            {#            };#}
            {#            map = new google.maps.Map(document.getElementById('map-canvas'),#}
            {#                    mapOptions);#}

            var mapOptions = {
                center: new google.maps.LatLng(51.49006473014369,-3.1805146484375),
                zoom: 6
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

            var bounds = new google.maps.LatLngBounds(
                    new google.maps.LatLng(50.49006473014369,-4.1805146484375),
                    new google.maps.LatLng(52.49006473014369,-2.1805146484375)
            );

            // Define the rectangle and set its editable property to true.
            rectangle = new google.maps.Rectangle({
                bounds: bounds,
                editable: true,
                draggable: true
            });

            rectangle.setMap(map);

            // Add an event listener on the rectangle.
            google.maps.event.addListener(rectangle, 'bounds_changed', showNewRect);

            // Define an info window on the map.
            infoWindow = new google.maps.InfoWindow();



            // Try HTML5 geolocation
            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = new google.maps.LatLng(position.coords.latitude,
                            position.coords.longitude);

                    console.log(pos);
                    var infowindow = new google.maps.InfoWindow({
                        map: map,
                        position: pos,
                        content: 'Location found using HTML5.'
                    });

                    map.setCenter(pos);
                }, function() {
                    handleNoGeolocation(true);
                });
            } else {
                // Browser doesn't support Geolocation
                handleNoGeolocation(false);
            }
        }

        // Show the new coordinates for the rectangle in an info window.

        /** @this {google.maps.Rectangle} */
        function showNewRect(event) {
            var ne = rectangle.getBounds().getNorthEast();
            var sw = rectangle.getBounds().getSouthWest();

            var contentString = '<b>Rectangle moved.</b><br>' +
                    'New north-east corner: ' + ne.lat() + ', ' + ne.lng() + '<br>' +
                    'New south-west corner: ' + sw.lat() + ', ' + sw.lng();

            // Set the info window's content and position.
            infoWindow.setContent(contentString);
            infoWindow.setPosition(ne);

{#            infoWindow.open(map);#}

            document.getElementById("north_east_x").value = ne.lat();
            document.getElementById("north_east_y").value = ne.lng();
            document.getElementById("south_west_x").value = sw.lat();
            document.getElementById("south_west_y").value = sw.lng();

        }

        function handleNoGeolocation(errorFlag) {
            if (errorFlag) {
                var content = 'Error: Your browser denied Geolocation.';
            } else {
                var content = 'Error: Your browser doesn\'t support geolocation.';
            }

            var options = {
                map: map,
                position: new google.maps.LatLng(51.49006473014369,-3.1805146484375),
                content: content
            };

{#            var infowindow = new google.maps.InfoWindow(options);#}
            map.setCenter(options.position);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        $(document).ready(function(){
            $('#map-canvas').height($(window).height() - 65);
        });

        function SubmitAndClose(){
            document.forms['certform'].submit();
            window.close();
        }

    </script>
        {% if image_coords_msg %}
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ image_coords_msg }}
            </div>
{% endif %}
    <form action="{% url 'image.coords' image_id=image_id %}" id="image-map-form" method="post">{% csrf_token %}
        <input type="hidden" name="image_id" value="{{ image_id }}" />
        <input type="hidden" id = 'north_east_x' name="north_east_x" value="" />
        <input type="hidden" id = 'north_east_y' name="north_east_y" value="" />
        <input type="hidden" id = 'south_west_x' name="south_west_x" value="" />
        <input type="hidden" id = 'south_west_y' name="south_west_y" value="" />


        <div class="jumbotron" style="height: auto; width: 100%">
            <div class="panel-footer">
                <ul class="pager">
                    <li>
                        <button type="submit" class="rota btn btn-default">Save</button>
                    </li>
                </ul>
            </div>
            <div id="map-canvas" style="height: 100%; width: 100%"></div>

            <div class="panel-footer">
                <ul class="pager">
                    <li>
                        <button type="submit" class="rota btn btn-default">Save</button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
{% endblock %}