{% extends "base.html" %}


{% block content %}

    <script type="text/javascript">
        function send_with_ajax() {
            myApp.showPleaseWait()
            console.log('here');
            var name = 'test';
            Dajaxice.lost_visions.ajax_test(Dajax.process,{'name': name});
        }

        function change_image(url){
            $('#photo').attr("src", url);
            myApp.hidePleaseWait()
        }

        function add_description(){
            $('#right-main').empty();
            $('#right-main').load('{% url 'free_text_description_url' %}', function() {
                $( "input[type=checkbox]" )
                        .button();
                $('#submit_creation_techniques').click(function(){
                    Dajaxice.lost_visions.submit_creation_techniques(
                            Dajax.process,{'form':$('#creation-techniques-form').serialize(true), 'image_id':'{{image_id}}'})
                });
            });
        }

        function add_creation_techniques(){
            $('#right-main').empty();
            $('#right-main').load('{% url 'creation_techniques_url' %}', function() {
                $( "input[type=checkbox]" )
                        .button();
                $('#submit_creation_techniques').click(function(){
                    Dajaxice.lost_visions.submit_creation_techniques(
                            Dajax.process,{'form':$('#creation-techniques-form').serialize(true), 'image_id':'{{image_id}}'})
                });
            });
        }

        function add_categories(){
            $('#right-main').empty();
            $('#right-main').load('{% url 'categories_url' %}', function() {
                $( "input[type=checkbox]" )
                        .button();
                $('#submit_categories').click(function(){
                    Dajaxice.lost_visions.submit_categories(
                            Dajax.process,{'form':$('#categories-form').serialize(true), 'image_id':'{{image_id}}'})
                });

            });
        }

        var myApp;
        myApp = myApp || (function () {
            var pleaseWaitDiv = $('<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-header"><h1>Processing...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div></div>');
            return {
                showPleaseWait: function() {
                    pleaseWaitDiv.modal();
                },
                hidePleaseWait: function () {
                    pleaseWaitDiv.modal('hide');
                }
            }
        })();

        $(document).ready(function () {
            $('#submit_button').click(function(){
                Dajaxice.lost_visions.submit_tags(
                        Dajax.process,{'form':$('#tags-form').serialize(true), 'image_id':'{{image_id}}'})
            });
        });
    </script>
    <style>
        .category-box{
        {#            height: 75px;#}
        {#        width: 100px;#}
            background-color: red;
            border: 2px;
            padding: 3px;
        }
        .next-click{
            height: 48px;
            width: 100px;
            background-color: darkslategray;
            border: 2px;
            padding: 3px;
            cursor: pointer;
            border-radius: 5px;
        }
        .lv_tags{
            background-color: darkslategray;
            border: 2px;
            padding: 3px;
            border-radius: 5px;
        }
    </style>

    <div class="container">

        <div class="col-xs-12 col-sm-6">
            <div class="jumbotron">
                <img id='photo' src="{{ image.imageurl }}" style='max-width:100%; height:auto'>
            </div>
        </div><!--/span-->

        <div class="col-xs-12 col-sm-6">

            <div class="container-fluid">

                <div id="right-main">

                    <form id="tags-form" method="post">

                        <div class="row-fluid">

                            <div class="panel panel-default">

                                <div class="panel-heading">Please select the tags below which describe the image</div>

                                <div class="panel-body">

                                    {% for key in image.tags %}
                                        <input type="checkbox" value="{{ key }}" id="check{{ forloop.counter }}" />

                                        <label for="check{{ forloop.counter }}">{{ key }}</label>
                                    {% empty %}
                                        <p>(No previous tags found for this image)</p>
                                    {% endfor %}

                                </div>

                            </div>

                        </div>

                        <div class="row-fluid">
                            <div class="panel panel-default">
                                <div class="panel-heading">Please select the Flickr tags below which describe the image</div>
                                <div class="panel-body">
                                    {% for field in tag_form %}
                                        {{ field }}
                                        <label for="{{ field.auto_id }}">{{ field.label }}</label>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div id="submit_button" class="btn btn-default btn-lg">Next --></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="container">
        <div class="col-xs-12 col-sm-6">

            {% for mykey,value in image.items %}
                {% if mykey != 'tags' %}
                    <div class="row">
                        {#                        <dl>#}
                        <p><b>{{ mykey }}</b> : {{ value }}</p>
                        {#                            <dt>{{ mykey }}</dt>#}

                        {#                            <dd>{{ value }} </dd>#}
                        {#                        </dl>#}

                    </div><!--/row-->
                {% endif %}
            {% endfor %}
        </div>
    </div><!--/span-->

    <div>
        <table style="margin-top: 1em;">
            <thead>
            <tr>
                <th colspan="2" style="font-size: 110%; font-weight: bold; text-align: left; padding-left: 0.1em;">
                    Coordinates
                </th>
                <th colspan="2" style="font-size: 110%; font-weight: bold; text-align: left; padding-left: 0.1em;">
                    Dimensions
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="width: 10%;"><b>X<sub>1</sub>:</b></td>
                <td style="width: 30%;"><input type="text" id="x1" value="-" /></td>
                <td style="width: 20%;"><b>Width:</b></td>
                <td><input type="text" value="-" id="w" /></td>
            </tr>
            <tr>
                <td><b>Y<sub>1</sub>:</b></td>
                <td><input type="text" id="y1" value="-" /></td>
                <td><b>Height:</b></td>
                <td><input type="text" id="h" value="-" /></td>
            </tr>
            <tr>
                <td><b>X<sub>2</sub>:</b></td>
                <td><input type="text" id="x2" value="-" /></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Y<sub>2</sub>:</b></td>
                <td><input type="text" id="y2" value="-" /></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div id="preview" style="width: 100px; height: 100px; overflow: hidden;">
            <img src="{{ image.imageurl }}"/>
        </div>
    </div>


{% endblock %}