{% extends "base.html" %}


{% block content %}

<div class="container">

    <div class="col-xs-12 col-sm-6">
        <img id='photo' src="{{ image.imageurl }}" style='max-width:100%; height:auto'>
    </div><!--/span-->

    <div class="col-xs-12 col-sm-6">

        {#        <form action="http://www.w3schools.com/html/html_form_action.asp" method="get">#}
        <form action="{% url 'image.tags' %}" method="post">
            <div class="container-fluid">
                <p>Look, tags!</p>

                <div class="row-fluid">
                    {% csrf_token %}

                    {% for key in image.tags %}
                        {#                    <div>#}
                        <input type="checkbox" value="{{ key }}" id="check{{ forloop.counter }}" />

                        <label for="check{{ forloop.counter }}">{{ key }}</label>
                        {#                    </div>#}
                        {#                <button type="button" class="btn btn-default">{{ key }}</button>#}
                    {% endfor %}
                </div>
            <p>Flickr Tags</p>
                <div class="row-fluid">

                    {% for field in tag_form %}
                        {{ field }}
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>

                    {% endfor %}

                </div>
                {{ tag_form.non_field_errors }}
                <input type="submit" name="send" value="Submit Form" />
            </div>
        </form>
    </div>

</div>
<hr>


</div><!--/.container-->

<div class="container">
    <div class="col-xs-12 col-sm-6">

        {% for mykey,value in image.items %}
            {% if mykey != 'tags' %}
                <div class="row">
                    <dl>
                        <dt>{{ mykey }}</dt>

                        <dd>{{ value }} </dd>
                    </dl>

                </div><!--/row-->
            {% endif %}
        {% endfor %}
    </div>
</div><!--/span-->

<div>
    <table style="margin-top: 1em;">
        <thead>
        <tr>
            <th colspan="2" style="font-size: 110%; font-weight: bold; text-align: left; padding-left: 0.1em;">
                Coordinates
            </th>
            <th colspan="2" style="font-size: 110%; font-weight: bold; text-align: left; padding-left: 0.1em;">
                Dimensions
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 10%;"><b>X<sub>1</sub>:</b></td>
            <td style="width: 30%;"><input type="text" id="x1" value="-" /></td>
            <td style="width: 20%;"><b>Width:</b></td>
            <td><input type="text" value="-" id="w" /></td>
        </tr>
        <tr>
            <td><b>Y<sub>1</sub>:</b></td>
            <td><input type="text" id="y1" value="-" /></td>
            <td><b>Height:</b></td>
            <td><input type="text" id="h" value="-" /></td>
        </tr>
        <tr>
            <td><b>X<sub>2</sub>:</b></td>
            <td><input type="text" id="x2" value="-" /></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>Y<sub>2</sub>:</b></td>
            <td><input type="text" id="y2" value="-" /></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div id="preview" style="width: 100px; height: 100px; overflow: hidden;">
        <img src="{{ image.imageurl }}"/>
    </div>
</div>


{% endblock %}