{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "sidebar.css" %}" />

    {#    {{ zip_path }}#}
    {#    {{ pages }}#}


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="padding: 0; list-style-type: none">
                <li class="sidebar-brand">
                    <h4 style="text-align: center; text-decoration: underline">Page Turner</h4>
                </li>
                <li>
                    <h5 style="overflow-wrap: normal">
                        {{ title }}
                    </h5>
                </li>
                <li>
                    <h4>
                        <a data-toggle="tooltip" data-placement="right"
                           title="Download This Page" data-original-title="Download"
                           href="{% url 'find_page' book_id page volume%}" target="_blank" download>
                            <div class="fa fa-2x fa-cloud-download"></div> Download This Page</a>
                    </h4>
                </li>
                {% for a_page in pages %}
                    <li>
                        <a data-toggle="tooltip" data-placement="right"
                           title="View this page" data-original-title="View page"
                           href="{% url 'page_turner' book_id a_page.page_no volume%}">
                            Page {{ a_page.page_no }} {% if a_page.has_image %}<span style="color: #d17f04">*Image*</span>{% endif %} </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="full_page">
                            <ul class="pager" style="padding-bottom: 10px">
                                <li class="previous">
                                    <a data-toggle="tooltip" data-placement="right"
                                       title="Previous Page" data-original-title="Previous Page"
                                       class="rota btn btn-sm btn-default" href="{% url 'page_turner' book_id prev volume%}">Previous Page</a>

                                </li>
                                <li>
                                    <div class="rota btn btn-sm btn-info" id="menu-toggle">Book Details</div>
                                </li>
                                <li>
                                    <a data-toggle="tooltip" data-placement="right"
                                       title="Resize to page width" data-original-title="Resize Width"
                                       class="rota btn btn-sm btn-info fa fa-2x fa-arrows-h" id="resize-width"></a>

                                </li>
                                <li>
                                    <a data-toggle="tooltip" data-placement="right"
                                       title="Resize to page height" data-original-title="Rotate Height"
                                       class="btn btn-sm btn-info fa fa-2x fa-arrows-v"
                                       id="resize-height"></a>
                                </li>
                                {% if flickr_id|length > 0 %}
                                    <li>
                                        <a data-toggle="tooltip" data-placement="right"
                                           title="Show Tagging Options and Illustration Metadata" data-original-title="Tag Image"
                                           target="_blank"
                                           href="{% url 'image' flickr_id %}"
                                           class="rota btn btn-sm btn-info fa fa-2x fa-tags" id="tag-page">
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a data-toggle="tooltip" data-placement="right"
                                       title="Show Single Page View" data-original-title="Single Page View"
                                       href="{% url 'page_turner' book_id page volume%}"
                                       class="rota btn btn-sm btn-info fa fa-2x fa-file-text" id="single-page">
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tooltip" data-placement="right"
                                       title="Side by Side - Left" data-original-title="Side Left"
                                       href="{% url 'page_turner' book_id split_pre volume%}"
                                       class="rota btn btn-sm btn-info" id="double-left">
                                        <div class="fa fa-2x fa-file-text-o"></div>
                                        <div class="fa fa-2x fa-file-text"></div>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tooltip" data-placement="right"
                                       title="Side by Side - Right" data-original-title="Side Right"
                                       href="{% url 'page_turner' book_id split_post volume%}"
                                       class="rota btn btn-sm btn-info" id="double-right">
                                        <div class="fa fa-2x fa-file-text"></div>
                                        <div class="fa fa-2x fa-file-text-o"></div>
                                    </a>
                                </li>
                                <li>
                                    <a class="rota btn btn-sm btn-info">Page {{ page }}</a>
                                </li>
                                <li class="next">
                                    <a data-toggle="tooltip" data-placement="right"
                                       title="Show Next Page" data-original-title="Next Page"
                                       class="rota btn btn-sm btn-default" href="{% url 'page_turner' book_id next volume%}">Next Page</a>
                                </li>
                            </ul>

                            <div id="page_image_wrapper">
                                <table align="center" cellpadding="5px">
                                    <tr>
                                        {% if pre_post == 'pre' %}
                                            <td>
                                                <img id="page_image_pre" src="{% url 'find_page' book_id pre_post_number volume%}"
                                                     style="background-color: #27268c; padding:1px;
                                                     border: 3px; border-style: dashed; display: block; margin: 0 auto">
                                            </td>
                                        {% endif %}
                                        <td>
                                            {#                                            <a href="{% url 'page_turner' book_id next volume%}">#}
                                            <img id="page_image" src="{% url 'find_page' book_id page volume%}"
                                                 style="background-color: #27268c; padding:1px; display: block; margin: 0 auto">
                                            {#                                            </a>#}
                                        </td>
                                        {% if pre_post == 'post' %}
                                            <td>
                                                <img id="page_image_post" src="{% url 'find_page' book_id pre_post_number volume%}"
                                                     style="background-color: #27268c; padding:1px;
                                                     border: 3px; border-style: dashed; display: block; margin: 0 auto">
                                            </td>
                                        {% endif %}
                                    </tr>
                                </table>

                            </div>

                            <ul class="pager">
                                <li class="previous">
                                    <a data-toggle="tooltip" data-placement="right"
                                       title="Previous Page" data-original-title="Previous Page" class="rota btn btn-default" href="{% url 'page_turner' book_id prev volume%}">Previous Page</a>
                                </li>
                                <li>
                                    <div class="rota btn btn-info">Page {{ page }}</div>
                                </li>
                                <li class="next">
                                    <a data-toggle="tooltip" data-placement="right"
                                       title="Next Page" data-original-title="Next Page" class="rota btn btn-default" href="{% url 'page_turner' book_id next volume%}">Next Page</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>


    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">


        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $("#sidebar-wrapper").height($(window).height() * 0.8);

        $("#page_image").height($(window).height() * 0.8);
        $("#page_image_pre").height($(window).height() * 0.8);
        $("#page_image_post").height($(window).height() * 0.8);

        $("#resize-height").click(function(e) {
            {% if pre_post %}
                $("#page_image_pre").height($(window).height() * 0.8).css({'width': 'auto'});
                $("#page_image_post").height($(window).height() * 0.8).css({'width': 'auto'});
                $("#page_image").height($(window).height() * 0.8).css({'width': 'auto'});
            {% else %}
                $("#page_image").height($(window).height() * 0.8).css({'width': 'auto'});
            {% endif %}
        });

        $("#resize-width").click(function(e) {
            {% if pre_post %}
                $("#page_image_pre").css({'width': '100%', 'height': 'auto' });
                $("#page_image_post").css({'width': '100%', 'height': 'auto' });
                $("#page_image").css({'width': '100%', 'height': 'auto' });
            {% else %}
                $("#page_image").css({'width': '100%', 'height': 'auto' });
            {% endif %}
        });

        $(document).ready(function(){
            setTimeout(function(){
                $("#menu-toggle").click();
            }, 3);
        });
        {#            function hide() {#}
        {#                $(this).closest('.list-group').fadeOut('slide',function(){#}
        {#                    $('.mini-submenu').fadeIn();#}
        {#                });#}
        {#            }#}
        {##}
        {#            function reveal() {#}
        {#                $(this).next('.list-group').toggle('slide');#}
        {#                $('.mini-submenu').hide();#}
        {#            }#}
        {#            $('.mini-submenu').on('click', reveal);#}
        {##}
        {#            $('#slide-submenu').on('click', hide).click();#}


        {#        });#}
    </script>






{% endblock %}