{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>
        List of Exhibitions
    </h1>

    <a href="{% url 'public_exhibition' %}">
        <div class="btn btn-success">Latest Exhibition</div>
    </a>

    <hr>

    <div class="bs-example table-responsive">
        <table class="table table-striped table-hover ">
            <tbody>
            <tr>
                <td></td>
                <th>Collection Name</th>
                <th>Date created</th>
                <td></td>
            </tr>
            {% for ex in results %}

                <tr>
                    <td>
                        <img src="{{ ex.img_info.img_small }}" style="max-height: 150px">
                    </td>
                    <td>
                        {{ ex.name }}
                    </td>
                    <td>
                        {{ ex.timestamp }}
                    </td>
                    <td>
                        <a href="{% url 'exhibition' ex.collection_id %}">
                            <div class="btn btn-success">View Exhibition</div>
                        </a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}