{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <link href="{% static "PgwSlideshow-master/pgwslideshow.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "PgwSlideshow-master/pgwslideshow.js" %}"></script>

    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(document).ready(function () {
            var height = $(window).height() * 0.6;
            console.log(height);

            $('.pgwSlideshow').pgwSlideshow({
                autoSlide: true,
{#                maxHeight: 200#}
            });

        });
    </script>


    <ul class="pgwSlideshow">

        {% for image in collection_data.images %}
            <li>
                <div>

                    <div class="row">
                        <div class="col-sm-8">
                            <img src="{{ image.url }}" alt="{{ image.caption }}" data-description="{{ image.caption }}">
                        </div>
                        <div class="col-sm-4">
                            <div>
                                {{ image.caption }}
                            </div>
                        </div>

                    </div>

                </div>
            </li>

        {% endfor %}

    </ul>

{% endblock %}