{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(document).ready(function () {
            $('#carousel-exhibition').carousel();
            $("#carousel-exhibition").height($(window).height() * 0.6).css({'margin': '0 auto'});
            $(".carousel-exhibition-item").height($(window).height() * 0.6).css({'margin': '0 auto'});
            {#            var carousel = $(".home-carousel");#}
            {#            carousel.css({'max-height': carousel.height()});#}

            $('.slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slider-nav'
            });
            $('.slider-nav').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                asNavFor: '.slider-for',
                                dots: true,
                centerMode: true,
                focusOnSelect: true
            });
        });

    </script>

    <div class="home-content-main container">
        <h3 style="text-align: center">{{ collection_data.collection_name }} - {{ collection_data.images|length }} images</h3>

        <div class="row">
            <div class="slider-for">
                {% for image in collection_data.images %}
                    <div class="{% if forloop.first %} active{% endif %}">

                        <table>
                            <col width="80%">
                            <col width="20%">
                            <tr>
                                <th>
                                    <img src="{{ image.url }}" class="carousel-exhibition-item">
                                </th>
                                <td>
                                    {{ image.title }}
                                    {% if image.caption %}
                                        <br>
                                        <span style="color: white; background-color: #A365BA; text-align: center; text-wrap: normal">
                                            {{ image.caption }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>

                        {#                        <img src="{{ image.url }}" class="carousel-exhibition-item">#}
                        {#                        <div class="" style="text-align: center">#}
                        {#                            {{ image.title }}#}
                        {#                            {% if image.caption %}#}
                        {#                            <br>#}
                        {#                            <span style="color: white; background-color: #A365BA; text-align: center">{{ image.caption }}</span>#}
                        {#                            {% endif %}#}
                        {#                        </div>#}

                    </div>
                {% endfor %}
            </div>
            <div class="slider-nav">
                {% for image in collection_data.images %}
                    <div class="{% if forloop.first %} active{% endif %}">
                        <img src="{{ image.url }}" style="height: 100px; max-width: 100px">
                        {#                        <div class="">#}
                        {#                            <span style="color: white; background-color: #A365BA">{{ image.caption }}</span>#}
                        {#                        </div>#}
                    </div>
                {% endfor %}
            </div>
        </div>

        <h3>This Exhibition has been public since : {{ date }}</h3>
        <h3>Collection originally created by {{ collection_creator }} </h3>
    </div>

{% endblock %}