{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block content %}


    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    var date_from = 1510;
    var date_to = 1946;

    $(document).ready(function () {

        $('#collapse_search_filter').accordion({
            {#                icons: { "header": "ui-icon-plus", "activeHeader": "ui-icon-minus" },#}
            {% if query_array.author|length or query_array.title|length or query_array.publisher|length or query_array.publishing_place|length or query_array.year|length  or query_array.illustrator|length or query_array.date_from|length or query_array.date_to|length%}
                active: 0,
            {% else %}
                active: false,
            {% endif %}
            collapsible: true,
            heightStyle: "content"

        });

        var date_from_selector = $('#date_from');
        var date_to_selector = $('#date_to');

        var from_selected = false;
        var to_selected = false;
        for (var i = date_to; i > date_from; i--)
        {

            var year_from_item = $('<option />').val(i).html(i);
            {% if query_array.date_from %}
                if (i == {{ query_array.date_from }}) {
                    year_from_item.attr('selected', 'selected');
                    from_selected = true;
                }
            {% endif %}
            date_from_selector.append(year_from_item);

            var year_to_item = $('<option />').val(i).html(i);
            {% if query_array.date_to %}
                if (i == {{ query_array.date_to }}) {
                    year_to_item.attr('selected', 'selected');
                    to_selected = true;
                }
            {% endif %}
            date_to_selector.append(year_to_item);

        }
        var blank_from_item = $('<option />').val('').html('--');
        var blank_to_item = $('<option />').val('').html('--');

        if(from_selected == false){
            blank_from_item.attr('selected', 'selected');
        }
        if(to_selected == false){
            blank_to_item.attr('selected', 'selected');
        }
        date_from_selector.append(blank_from_item);
        date_to_selector.append(blank_to_item);

        var year_selector = $('#year');
        year_selector.append($('<option selected="selected"/>').val('').html('--'));
        for (var j = 1950; j > date_from; j-=10)
        {
            var year_item = $('<option />').val(j).html(j);

            {% if query_array.year %}
                if (j == {{ query_array.year }}) {
                    year_item.attr('selected', 'selected');
                }
            {% endif %}
            year_selector.append(year_item);

        }

        date_from_selector.change(function(){
            {#                var date_to_selector = $('#date_to');#}
            date_to_selector.empty();
            date_from = $(this).val();
            console.log(date_from);
            console.log(date_to);
            console.log(date_from == '');

            if (date_from == ''){
                date_from = 1510;
            }
            for (var j = date_to; j > date_from; j--)
            {
                var year_to_item = $('<option />').val(j).html(j);
                date_to_selector.append(year_to_item);
            }
            date_to_selector.append($('<option />').val('').html('--'));
        });


        $( "#author" ).autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{% url 'data.autocomplete' %}",
                    dataType: "json",
                    data: {
                        term : request.term,
                        data_object : "author"
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 3,
            select: function( event, ui ) {


            }
        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                    .append( "<a><strong>" + item.label + "</strong><br>" + item.desc + "</a>" )
                    .appendTo( ul );
        };


        $( "#illustrator" ).autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{% url 'data.autocomplete' %}",
                    dataType: "json",
                    data: {
                        term : request.term,
                        data_object : "title"
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 3,
            select: function( event, ui ) {


            }
        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                    .append( "<a><strong>" + item.label + "</strong><br>" + item.desc + "</a>" )
                    .appendTo( ul );
        };


        $( "#title" ).autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{% url 'data.autocomplete' %}",
                    dataType: "json",
                    data: {
                        term : request.term,
                        data_object : "title"
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 3,
            select: function( event, ui ) {


            }
        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                    .append( "<a><strong>" + item.label + "</strong><br>" + item.desc + "</a>" )
                    .appendTo( ul );
        };

        {#            $( "#publishing_place" ).autocomplete({#}
        {#                source: function(request, response) {#}
        {#                    $.ajax({#}
        {#                        url: "{% url 'data.autocomplete' %}",#}
        {#                        dataType: "json",#}
        {#                        data: {#}
        {#                            term : request.term,#}
        {#                            data_object : "publishing_place"#}
        {#                        },#}
        {#                        success: function(data) {#}
        {#                            response(data);#}
        {#                        }#}
        {#                    });#}
        {#                },#}
        {#                minLength: 3,#}
        {#                select: function( event, ui ) {#}
        {##}
        {##}
        {#                }#}
        {#            }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {#}
        {#                return $( "<li>" )#}
        {#                        .append( "<a><strong>" + item.label + "</strong><br>" + item.desc + "</a>" )#}
        {#                        .appendTo( ul );#}
        {#            };#}

        $( "#publisher" ).autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{% url 'data.autocomplete' %}",
                    dataType: "json",
                    data: {
                        term : request.term,
                        data_object : "publisher"
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 3,
            select: function( event, ui ) {


            }
        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                    .append( "<a><strong>" + item.label + "</strong><br>" + item.desc + "</a>" )
                    .appendTo( ul );
        };
    })
    </script>
    <div class="container home-content-main">

        <div class="row">
            <div class="title-logo col-md-12">
                <img src="{% static "media/images/new_design/IllustrationArchive_FinalHeader_Search.png" %}" style="min-height: 53px"/>
            </div>
        </div>

        <form action="{% url 'do_advanced_search' %}" id="advanced-search-form"
              method="get" class="advanced-search-form">{% csrf_token %}
            {{ tag_form.non_field_errors }}
            <input type="hidden" id="sort_results" name="sort_results" value="none">

            <div class="panel-group" style="margin-top: 10px; border: solid #AAA 1px;">
                <div class="panel-heading search-heading">
                    <h4 class="panel-title" style="color: #ffffff">
                        Search
                    </h4>
                </div>

                <div class="panel-body" style="padding: 1em 2.2em;">
                    <div class="col-md-6">
                        <div class="ui-widget"data-toggle="tooltip" data-placement="left"
                             title="Keyword can be in Tags, Title, Author, Publisher"
                             data-original-title="Keyword Input">
                            <label class="control-label" for="keyword">Keyword: </label>
                            <input class="'form-control" id="keyword" name="keyword" value="{{ query_array.keyword }}">
                        </div>
                    </div>
                    <div class="col-md-6">

                        <ul class="pager prev_next_pager" style="padding: 0">
                            <li style="float: right">
                                <button type="submit" class="btn btn-success btn-sm adv_search_btn">Search</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-footer" style="padding: 0">
                    <div
                            {#                data-toggle="tooltip" data-placement="top"#}
                            {#             title="Search Filters" data-original-title="Search Filters"#}
                            id="collapse_search_filter" class="panel-group"
                            data-step="1" data-intro='Search Filters' data-position="right">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Advanced Search
                            </h4>
                        </div>
                        {#                    <div class="container">#}
                        <div class="panel-body">
                            <div class="row" style="margin: 0">
                                <div class="col-md-6">

                                    <div class="ui-widget">
                                        <label class="'control-label" for="illustrator">Illustrator: </label>
                                        <input class="'form-control" id="illustrator" name="illustrator"
                                               value="{{ query_array.illustrator }}">
                                    </div>

                                    <div class="ui-widget">
                                        <label class="'control-label" for="author">Author: </label>
                                        <input class="'form-control" id="author" name="author" value="{{ query_array.author }}">
                                    </div>

                                    <div class="ui-widget">
                                        <label class="'control-label" for="title">Book Title: </label>
                                        <input class="'form-control" id="title" name="title" value="{{ query_array.title }}">
                                    </div>

                                    <div class="ui-widget">
                                        <label class="'control-label" for="publisher">Publisher: </label>
                                        <input class="'form-control" id="publisher" name="publisher" value="{{ query_array.publisher }}">
                                    </div>

                                    <div class="ui-widget">
                                        <label class="'control-label" for="publishing_place">Place of Publication: </label>
                                        <input class="'form-control" id="publishing_place" name="publishing_place"
                                               value="{{ query_array.publishing_place }}">
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="ui-widget">
                                        <label class="'control-label" for="date_from">Date From: </label>
                                        <select
                                                {#                                                disabled #}
                                                class="'form-control" id="date_from" name="date_from"></select>
                                    </div>

                                    <div class="ui-widget">
                                        <label class="'control-label" for="date_to">Date To: </label>
                                        <select
                                                {#                                                disabled #}
                                                class="'form-control" id="date_to" name="date_to"></select>
                                    </div>

                                    <div class="ui-widget">
                                        <label class="'control-label" for="year">Decade: </label>
                                        <select class="'form-control" id="year" name="year" ></select>
                                    </div>

                                    {#                                TODO FINDME alternative search switch #}
                                    <input type="hidden" id="alternative_search" name="alternative_search" value="on">
                                    {#                                <div class="ui-widget" style="text-align-last: right">#}
                                    {#                                    <label class="'control-label" for="alternative_search">Alternative Search: </label>#}
                                    {#                                    <input checked type="checkbox" class="'form-control" id="alternative_search" name="alternative_search">#}
                                    {#                                </div>#}

                                </div>
                            </div>
                            <hr>
                            <div class="row" style="margin: 0">
                                <div class="col-md-6">
                                    <div class="ui-widget" data-toggle="tooltip" data-placement="left"
                                         title="Limit search to Tags, without Title, Author etc"
                                         data-original-title="Tags only">
                                        <label class="'control-label" for="tag_keywords_only">Only search tags: </label>
                                        <input type="checkbox" class="'form-control"
                                               id="tag_keywords_only" name="tag_keywords_only">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <ul class="pager prev_next_pager" style="padding: 0">
                                        <li style="float: right; bottom: 5em">
                                            <button type="submit" class="btn btn-success btn-sm adv_search_btn">Search</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        {% block results %}
        {% endblock %}
    </div>
{% endblock %}