{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="panel panel-default">

        <div class="panel">
            <div class="panel-heading" style="color: #ffffff">
                Lost Visions Project Software Outputs
            </div>
            <div class="panel-body">
                <h4>
                    <p>
                        These are the software products produced during the time of the Lost Visions project:
                    </p>
                </h4>

                <p>
                    <a href="https://github.com/CSCSI/Lost-Visions" target="_blank">
                        <img src="{% static "media/images/icon/LV_SocialIcon_Github.png" %}" style="height: 100%"/>
                        Website code available on GitHub
                    </a>
                </p>

            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel">
            <div class="panel-heading" style="color: #ffffff">Open Source software development licences provided by</div>
            <div class="panel-body">
                <a class="list-group-item" href="http://www.jetbrains.com/pycharm/" target="_blank" style="text-align: center;">
                    <img src="{% static "media/images/pycharm_logo.gif" %}" style='width:auto; height:60px; padding: 10px; background-color: #ffffff'>
                </a>
                <a class="list-group-item" href="http://www.jetbrains.com/" target="_blank" style="text-align: center;">
                    <img src="{% static "media/images/jetbrains_logo.png" %}" style='width:auto; height:60px; padding: 10px; background-color: #ffffff'>
                </a>
                <a class="list-group-item" href="http://edina.ac.uk/unlock/places/queries.html" target="_blank" style="text-align: center;">
                    <img src="{% static "media/images/unlock_logo.jpg" %}" style='width:auto; height:60px; padding: 10px; background-color: #ffffff'><br>
                    This product uses the remote "Unlock Places" API from EDINA.ac.uk
                </a>
                <a class="list-group-item" href="http://www.maxmind.com" target="_blank" style="text-align: center;">
                    This product includes GeoLite data created by MaxMind, available from http://www.maxmind.com.
                </a>
            </div>
        </div>
    </div>
{% endblock %}