{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block content %}

    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">

        function getDefaultFontSize(pa) {
            pa= pa || document.body;
            var who= document.createElement('div');

            who.style.cssText='display:inline-block; padding:0; line-height:1; position:absolute; visibility:hidden; font-size:1em';

            who.appendChild(document.createTextNode('M'));
            pa.appendChild(who);
            var fs= [who.offsetWidth, who.offsetHeight];
            pa.removeChild(who);
            return fs;
        }

        var defaultSize = getDefaultFontSize()[1];

        function getFontSize(small, big, value) {
            return Math.log(value);
{#            return defaultSize + ((value -1) * (10 / {{ most_used_tag_count }}) * defaultSize);#}
        }

        function get_tag_stats() {
            $.ajax({
                type: "GET",
                url: "{% url 'stats_json' %}",
                data: {},
                success: function(data) {
                    var the_tags = data['image_tags'];
                    var font_size = getDefaultFontSize()[1];
                    var tags_html = '';
                    for (var tag_idx in the_tags) {
                        var tag = the_tags[tag_idx];
                        if(the_tags[tag_idx]['tag']) {
                            tags_html += '<div title="' + the_tags[tag_idx]['uses'] + '" ' +
                                    'id="search_tag" class="btn btn-success search_tag" ' +
                                    'data-val="' + the_tags[tag_idx]['uses'] + '" ' +
                                    'data-term="' + the_tags[tag_idx]['tag'] + '" ' +
                                    'style="margin: 5px; display: inline-block; font-size: '
                                    + getFontSize(1, 50, the_tags[tag_idx]['uses']) + 'em">'
                                    + the_tags[tag_idx]['tag'] +
                                    '</div>';
                        }
                    }

                    console.log(the_tags);

                    $('#tag_cloud').html(tags_html);
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log("Problem with category: "+errorThrown+xhr.status+xhr.responseText);
                }
            });

        }

        $(document).ready(function () {

            $('#collapse_cloud').accordion({
                active: false,
                collapsible: true,
                heightStyle: "content"

            });

{#            var tags = '';#}
{#            var the_tags = {{ image_tags|safe }};#}
{#            var font_size = getDefaultFontSize()[1];#}
{##}
{#            for (var tag in the_tags) {#}
{#                tags += '<div id="search_tag" class="btn btn-success search_tag" ' +#}
{#                        'data-val="' + the_tags[tag]['uses'] + '" ' +#}
{#                        'data-term="' + the_tags[tag]['tag'] + '" ' +#}
{#                        'style="margin: 5px; display: inline-block; font-size: '#}
{#                        + getFontSize(1, 50, the_tags[tag]['uses']) + 'px">'#}
{#                        + the_tags[tag]['tag'] +#}
{#                        '</div>';#}
{#            }#}
{#            console.log(the_tags);#}

{#            $('#tag_cloud').html(tags);#}
            get_tag_stats();

            $('.search_tag').click(function(){
                var word = $(this).data('term');
                var link = "{% url 'do_advanced_search' %}" + '?keyword=' + word;
                window.open(link, '_blank');
            });
        });

    </script>

    <div class="bs-example table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <td>Total number of tagged images : </td>
                <td>{{ metrics.total_tagged_image_number }}</td>
            </tr>
            <tr>
                <td>Total number of image tags : </td>
                <td>{{ metrics.total_tags_number }}</td>
            </tr>
            <tr>
                <td>
                    Most used Tag :
                </td>
                <td>
                    {{ most_used_tag }} : {{ most_used_tag_count }}
                </td>
            </tr>
        </table>
    </div>

    <hr>

    <div id="collapse_cloud" class="panel-group">
        <div class="panel-heading">
            <h4 class="panel-title">
                Cloud of Tags
            </h4>
        </div>

        <div class="panel-body">
            <div id="tag_cloud" class="container-fluid" style="width:auto">
            </div>
        </div>
    </div>

    <hr>

{% endblock %}