{% extends 'base.html' %}

{% block content %}

    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        var $button = $("<div id='source-button' " +
                "class='btn btn-primary btn-xs remove_button' " +
                {#                "style='position: absolute; right:5px; top:0px'" +#}
                ">Remove</div>").click(function(){

            var id = $(this).parent().data().id;
            $.ajax({
                type: "POST",
                url: "{% url 'user_profile.save_image' %}",
                data: {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    image_id: id,
                    {#                    id.split('_')[2],#}
                    delete_image: true
                },
                success: function(data) {
                    alert("Removed Image");
                    $('#bl_item_' + id).remove();
                    $('.js-masonry').masonry();
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("Problem removing Image: "+errorThrown+xhr.status+xhr.responseText);
                }
            });

        });

        $(document).ready(function(){
            $('.js-masonry').masonry();

            $('.bl_item').hover(function(){
                $(this).append($button);
                $button.show();
            }, function(){
                $button.hide();
            });
        });
        $(window).load(function(){
            $('.js-masonry').masonry();
        });
    </script>

    <div class="col-xs-12 col-sm-6">
        <div class="bs-example table-responsive">
            <table class="table table-striped table-hover">
                <tr>
                    <td>Number of Images you have tagged : </td>
                    <td>{{ metrics.user_tagged_image_number }}</td>
                </tr>
                <tr>
                    <td>Number of tags you have produced : </td>
                    <td>{{ metrics.user_tags_number }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="bs-example table-responsive">
            <table class="table table-striped table-hover">
                <tr>
                    <td>Total number of tagged images : </td>
                    <td>{{ metrics.total_tagged_image_number }}</td>
                </tr>
                <tr>
                    <td>Total number of image tags : </td>
                    <td>{{ metrics.total_tags_number }}</td>
                </tr>
            </table>
        </div>
    </div>

    <hr>

    <h3>Your Saved Images</h3>

    <div id="result-container" class="js-masonry"
         data-masonry-options='{"columnWidth": 100, "itemSelector": ".bl_item" }'>
        <br>
        {% for saved_image_key, saved_image_data in images.items %}
            <div class="bl_item" id="bl_item_{{ saved_image_key }}" data-id="{{ saved_image_key }}">
                <div class="panel">
                    <a href="{% url 'image' saved_image_key %}" target="_blank">
                        <img src="{{ saved_image_data.url }}" style='width:100%; height:auto;'>
                    </a>
                    <div class="panel-footer">
                        Image ID : {{ saved_image_key }}
                        <br>
                        Page : {{ saved_image_data.page }}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="bl_item" >
                (You have not yet saved any images)
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}