{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">

    var all_image_ids = "{{ all_image_ids }}";
    var all_image_ids_list = all_image_ids.split(',');
    var start_id_index = 0;
    var end_id_index = {{ number_to_show }};
    var images_to_load = all_image_ids_list.slice(start_id_index, end_id_index);

    function read_next_batch(){

        if (end_id_index > (all_image_ids_list.length + {{ number_to_show }})){
            alert('All images from the search have now been loaded.');
        } else {
            images_to_load = all_image_ids_list.slice(start_id_index, end_id_index);
            load_more(images_to_load.join(','));

            start_id_index = end_id_index;
            end_id_index += {{ number_to_show }};
        }

    }

    function set_sizes(){

        $('#grid-result-container').find('.adv_item').each(function(i,elem){
            var $this_jq = $(this);

            var adv_item_img = $this_jq.find('img').get(0);
            $(adv_item_img).load(function(){
                var width = adv_item_img.naturalWidth;
                var height = adv_item_img.naturalHeight;

                var ratio = width / height;
                {#                console.log($this_jq);#}
                {#                console.log(this);#}
                {#                console.log(width + '--' + height + '--' + ratio);#}

                if (ratio > 2 && ratio < 3) {
                    $this_jq.addClass('adv_landscape_2');
                }  else if (ratio >= 3) {
                    $this_jq.addClass('adv_landscape_3');
                }else if (ratio < 1 && ratio > 0.5) {
                    $this_jq.addClass('adv_portrait_2');
                }  else if (ratio <= 0.5 && ratio > 0.25) {
                    $this_jq.addClass('adv_portrait_3');
                }    else if (ratio <= 0.25) {
                    $this_jq.addClass('adv_portrait_4');
                } else {
                    if (width > 800){
                        $this_jq.addClass('adv_square_large');
                    } else {
                        $this_jq.addClass('adv_square');
                    }
                }

            });

        });
    }


    function load_more(ids){

        $.ajax({
            type: "POST",
            url: "{% url 'get_image_data' %}",
            data: {
                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                image_ids: ids
            },
            success: function(data) {
                {#                    console.log(data);#}

                var view_toggle_btn = $('#view_toggle');
                if (view_toggle_btn.data("view") == "list") {

                    var table = $('#results_table');

                    for (var image_id in data) {
                        {#                            console.log(image_id);#}

                        var image_data = data[image_id];

                        var row = '<tr>'
                                + '<td>' +
                                '<a href="' + image_data['link'] + '" target="_blank">' +
                                '<img src="' + image_data['img_small']  + '"' +
                                'style="max-height: 80px; width:auto; max-width: 100%; display: block; margin: 0 auto">' +
                                '</a>'
                                + '</td>'
                                + '<td>' + image_data['author'] + '</td>'
                                + '<td>' + image_data['date'] + '</td>'
                                + '<td>' + image_data['page'] + '</td>'

                                + '<td><a href="{% url 'do_advanced_search' %}'
                                + '?book_id=' + image_data['book_id']
                                + '&csrfmiddlewaretoken={{ csrf_token }}"'
                                +  ' target="_blank">'
                                + image_data['title']  +
                                '</a></td>'
                                + '</tr>';

                        table.append($(row));
                    }

                } else if (view_toggle_btn.data("view") == "gallery") {
                    $('#results_table').empty();

                    var result_container = $('#grid-result-container').masonry({
                        columnWidth: 30,
                        itemSelector: '.adv_item'
                    });

                    var elems = [];
                    for (var image_id in data) {
                        var image_data = data[image_id];

                        var item_css = 'adv_item';

                        var elem_text = '<div class="' +
                                item_css +
                                '" id="adv_item_' + image_id + '" ' +
                                'data-id="' + image_id + '" data-collection_id="{{ collection_id }}">' +
                                '<div class="panel adv_item_panel" style="margin:auto 0">' +
                                '<a href="' + image_data['link'] + '" target="_blank">' +
                                '<img class="adv_img"' +
                                ' src="' + image_data['img_small']  + '" style="width:100%; height:auto;">' +
                                '</a>' +
                                '</div>' +
                                {#                                '<div class="panel-footer">This is a caption</div>' +#}
                                '</div>';
                        {#                            console.log(elem_text);#}
                        var jq_elem = $($.parseHTML(elem_text));
                        {% if mode == 'logged_in_not_owner' or mode == 'owner' %}

                            var $save_button = $('<div id="hide-button-' + image_id + '" ' +
                                    'class="btn btn-default btn-xs save_image_float_button">' +
                                    {#                                    "<img src='{% static 'media/images/free-vector-heart-gloss-5_101629_Heart_Gloss_5.png' %}' style='max-height: 27px'>" +#}
                                    "<div class='fa fa-2x fa-heart'>" +
                                    "</div>").click(function(){

                                var btn_parent_image_id = $(this).parent().data('id');

                                $('#save_image_dialog_form').data('image_id', btn_parent_image_id).dialog("open");

                            });

                            var $remove_button = $("<div id='hide-button-" + image_id + "' " +
                                    "class='btn btn-primary btn-xs hide_button' " +
                                    ">Hide</div>").click(function(){

                                var image_cell = $(this).parent();
                                image_cell.hide('scale',{ percent: 0 }, 1000, removeImageCell(image_cell));
                            });

                            function removeImageCell(image_cell){
                                image_cell.remove();
                                $('#grid-result-container').masonry();
                            }

                            jq_elem.append($remove_button);
                            jq_elem.append($save_button);

                            $remove_button.hide();
                            $save_button.hide();

                            jq_elem.hover(function(){
                                $(this).find('[id^=hide-button]').show();
                            }, function(){
                                $(this).find('[id^=hide-button]').hide();
                            });
                            var elem = jq_elem.append($remove_button).get(0);

                        {% endif %}


                        var elem = jq_elem.get(0);

                        elems.push( elem );

                    }
                    // append elements to container
                    result_container.append( elems).masonry('appended', elems );

                    result_container.masonry();
                    setInterval("$('#grid-result-container').masonry()", 2000);
                    set_sizes();
                    add_remove_buttons();
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                alert("Problem requesting Image: "+errorThrown+xhr.status+xhr.responseText);
            }
        });
    }

    function search_ids(ids){

        $.ajax({
            type: "POST",
            url: "{% url 'get_image_data' %}",
            data: $('#advanced-search-form').serializeArray(),
            success: function(data) {

            },
            error: function(xhr, textStatus, errorThrown) {
                alert("Problem requesting Image: "+errorThrown+xhr.status+xhr.responseText);
            }
        });
    }

    function add_remove_buttons(){
        $('.adv_item_panel').each( function( index, element ){

            var $remove_button = $("<div id='remove-button' " +
                    "class='btn btn-primary btn-xs remove_button' " +
                    {#                "style='position: absolute; right:5px; top:0px'" +#}
                    ">Remove</div>").click(function(){

                var id = $(this).parent().parent().data().id;
                var collection_id = $(this).parent().parent().data().collection_id;


                $.ajax({
                    type: "POST",
                    url: "{% url 'user_profile.save_image' %}",
                    data: {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        image_id: id,
                        collection_id: collection_id,
                        {#                    id.split('_')[2],#}
                        delete_image: true
                    },
                    success: function(data) {
                        {#                        alert("Removed Image");#}
                        $('#adv_item_' + id).remove();
                        $('.js-masonry').masonry();

                    },
                    error: function(xhr, textStatus, errorThrown) {
                        {#                        alert("Problem removing Image: "+errorThrown+xhr.status+xhr.responseText);#}
                    }
                });

            });

            var $set_caption_button = $("<div id='caption-button' " +
                    "class='btn btn-primary btn-xs set_caption_button' " +
                    {#                "style='position: absolute; right:5px; top:0px'" +#}
                    ">Edit Caption</div>").click(function(){

                var id = $(this).parent().parent().data().id;
                var collection_id = $(this).parent().parent().data().collection_id;


                $('#image_caption_dialog_form').data('image_id', id).data('collection_id', collection_id).dialog("open");
            });

            $(element).append($remove_button).append($set_caption_button).hover(function(){
                {#            $(this).append($remove_button);#}
                {#            $(this).append($set_caption_button);#}

                {% if mode == 'owner' %}
                    $(this).find('[id^=remove-button]').show();
                    $(this).find('[id^=caption-button]').show();
                {% endif %}

                {#            $remove_button.show();#}
                {#            $set_caption_button.show();#}
            }, function(){
                $(this).find('[id^=remove-button]').hide();
                $(this).find('[id^=caption-button]').hide();

                {#            $remove_button.hide();#}
                {#            $set_caption_button.hide();#}
            });

            $remove_button.hide();
            $set_caption_button.hide();
        });
    }


    $(document).ready(function(){

        var view_toggle_btn = $('#view_toggle');

        if($.cookie("lv_results_view_layout")) {
            var view = $.cookie("lv_results_view_layout");
            if (view == "gallery") {
                view_toggle_btn.data("view", "gallery");
                view_toggle_btn.text("List view");
            } else if (view == "list") {
                view_toggle_btn.data("view", "list");
                view_toggle_btn.text("Gallery view");
            }
        }

        view_toggle_btn.click(function(){
            if (view_toggle_btn.data("view") == "list") {
                view_toggle_btn.data("view", "gallery");
                view_toggle_btn.text("Gallery View");
                $.cookie("lv_results_view_layout", "gallery", {expires: 365, path: '/'});
                {#                location.reload();#}

                {#                    alert("changed view to " + view_toggle_btn.data("view"));#}
            } else if (view_toggle_btn.data("view") == "gallery") {
                view_toggle_btn.data("view", "list");
                view_toggle_btn.text("List view");
                {#                    alert("changed view to " + view_toggle_btn.data("view"));#}
                $.cookie("lv_results_view_layout", "list", {expires: 365, path: '/'});
                {#                location.reload();#}

            }
            start_id_index = 0;
            end_id_index = {{ number_to_show }};
            $('#results_table').empty();
            $('#grid-result-container').empty();

            read_next_batch();
        });

        $('#load_more').click(function(){
            read_next_batch()
        });
        read_next_batch();

        $('#grid-result-container').ready(function(){
            set_sizes();
        });

        function saveImageToCollection(collection_name, image_id) {
            $.ajax({
                type: "POST",
                url: "{% url 'user_profile.new_collection' %}",
                data: {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    collection_name: collection_name,
                    image_id: image_id
                },
                success: function(data) {
                    var ok = data['success'];
                    alert("Added Image to Favourites : " + collection_name);

                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log("Problem with category: "+errorThrown+xhr.status+xhr.responseText);
                }
            });
        }

        var save_image_dialog_form = $( "#save_image_dialog_form" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Save Image": function() {
                    var image_id = $(this).data('image_id');

                    var e = document.getElementById("user_collection_select");
                    var collection_id = e.options[e.selectedIndex].value;

                    console.log(image_id + ' ' + collection_id);

                    if (collection_id == "NEW COLLECTION"){
                        save_image_dialog_form.dialog("close");
                        add_collection_dialog.data('image_id', image_id).dialog("open");

                    } else {
                        saveImageToCollection(collection_id, image_id);
                        save_image_dialog_form.dialog( "close" );
                    }

                    {#                    saveImageToCollection(collection_id, image_id);#}

                },
                Cancel: function() {
                    save_image_dialog_form.dialog( "close" );
                }
            },
            open : function() {
                var name = $(this).data('name');
                var id = $(this).data('id');
                $('#edit_image_caption_field').val(name);
            },
            close: function() {
                {#                form[ 0 ].reset();#}
                {#                allFields.removeClass( "ui-state-error" );#}
            }
        });

        {#        console.log($('#advanced-search-form').serializeArray());#}

        {#        search_ids([])#}

        function addCollection(image_id){
            var collection_name = $( "#collection_name").val();
            saveImageToCollection(collection_name, image_id);
            add_collection_dialog.dialog( "close" );
        }

        var add_collection_dialog = $( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Create a collection": function() {
                    var image_id_to_add = $(this).data('image_id');
                    addCollection(image_id_to_add);
                },
                Cancel: function() {
                    add_collection_dialog.dialog( "close" );
                }
            },
            close: function() {
                {#                form[ 0 ].reset();#}
                {#                allFields.removeClass( "ui-state-error" );#}
            }
        });


        $("img").one("load", function() {
            $('.js-masonry').masonry();

            // do stuff
        }).each(function() {
            if(this.complete) $(this).load();
        });


        $('#request_api_key').click(function(){
            $.ajax({
                type: "GET",
                url: "{% url 'user_profile.get_api_key' %}",
                data: {},
                success: function(data) {
                    var ok = data['success'];
                    prompt("API Key requested : ", data['api_key']);
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log("Problem with requesting API key: "+errorThrown+xhr.status+xhr.responseText);
                }
            });
        });

        $('#download_all').click(function(){
            var dl_link = '{% url 'user_dl_all' %}' +
                    '?csrfmiddlewaretoken=' +
                    document.getElementsByName('csrfmiddlewaretoken')[0].value +
                    '&collection_ids=' +
                    '{% for id, data in images.items %}{{ id }}{% if not forloop.last %},{% endif %}{% endfor %}';
            window.open(dl_link, '_blank');
        });

        $('.dl_collection').click(function(){
            var collection_id = $(this).data('collection_id');
            var dl_link = '{% url 'dl_collection' %}' +
                    '?csrfmiddlewaretoken=' +
                    document.getElementsByName('csrfmiddlewaretoken')[0].value +
                    '&collection_id=' + collection_id;
            window.open(dl_link, '_blank');
        });

        $('#share_all_dialogue').dialog({
            autoOpen: false,
            width: $(window).width() * 0.7,
            show: {
                effect: "blind",
                duration: 500
            },
            hide: {
                effect: "blind",
                duration: 500
            }
        });

        $('.share_all').click(function(){
            var collection_id = $(this).data('collection_id');
            var link = '{% url 'dl_collection' %}?' +
                    'collection_id=' + collection_id;
            $('#share_collection_ref').attr('href', link).text('http://lost-visions.cf.ac.uk' + link);
            {#                $('#edit_collection_dialog_form').dialog("open");#}
            $('#share_all_dialogue').dialog("open");

            {#                window.open("{% url 'tweet_card' %}", '_blank');#}
        });

        $('.edit_collection').click(function(){
            var collection_id = $(this).data('collection_id');
            var collection_name = $(this).data('collection_name');

            $('#edit_collection_data').data('collection_id', collection_id).data('collection_name', collection_name);

            $('#edit_collection_dialog_form').data('id', collection_id).data('name', collection_name).dialog("open");


        });

        $('.request_public_exhibition').click(function(){
            var collection_name = $(this).data().collection_name;
            var collection_id = $(this).data().collection_id;

            request_collection_be_public(collection_name, collection_id);
        });

        var edit_collection_dialog = $( "#edit_collection_dialog_form" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Rename collection": function() {
                    var id = $(this).data('id');
                    var new_collection_name = $('#rename_collection_field').val();
                    var name = $(this).data('name');

                    $.ajax({
                        type: "POST",
                        url: "{% url 'manage_collection' %}",
                        data: {
                            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                            collection_id: id,
                            collection_name: new_collection_name,
                            action: 'rename'
                        },
                        success: function(data) {
                            edit_collection_dialog.dialog( "close" );
                            {#                            alert('Renamed collection ' + name + ' to ' + new_collection_name);#}
                            location.reload();
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            alert('An error occured. Please check you are still logged in');
                        }
                    });
                },
                "Delete collection": function() {
                    var id = $(this).data('id');
                    var name = $(this).data('name');

                    $.ajax({
                        type: "POST",
                        url: "{% url 'manage_collection' %}",
                        data: {
                            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                            collection_id: id,
                            action: 'delete'
                        },
                        success: function(data) {
                            edit_collection_dialog.dialog( "close" );
                            alert('Deleted collection ' + name);
                            location.reload();
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            alert('An error occured. Please check you are still logged in');
                        }
                    });                    },
                Cancel: function() {
                    edit_collection_dialog.dialog( "close" );
                }
            },
            open : function() {
                var name = $(this).data('name');
                var id = $(this).data('id');
                $('#rename_collection_field').val(name);
            },
            close: function() {
                {#                form[ 0 ].reset();#}
                {#                allFields.removeClass( "ui-state-error" );#}
            }
        });

        var image_caption_dialog_form = $( "#image_caption_dialog_form" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Set Caption": function() {
                    var collection_id = $(this).data('collection_id');
                    var image_id = $(this).data('image_id');
                    var new_caption = $('#edit_image_caption_field').val();
                    {#                    var name = $(this).data('collection_id');#}

                    $.ajax({
                        type: "POST",
                        url: "{% url 'manage_collection' %}",
                        data: {
                            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                            collection_id: collection_id,
                            image_id: image_id,
                            new_caption: new_caption,
                            action: 'set_image_caption'
                        },
                        success: function(data) {
                            image_caption_dialog_form.dialog( "close" );
                            {#                            alert('Added caption ' + new_caption + ' to image ' + image_id);#}
                            location.reload();
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            alert('An error occured. Please check you are still logged in');
                        }
                    });
                },
                Cancel: function() {
                    image_caption_dialog_form.dialog( "close" );
                }
            },
            open : function() {
                var name = $(this).data('name');
                var id = $(this).data('id');
                $('#edit_image_caption_field').val(name);
            },
            close: function() {
                {#                form[ 0 ].reset();#}
                {#                allFields.removeClass( "ui-state-error" );#}
            }
        });


    });




    </script>
    <div id="view_toggle" class="btn btn-default" data-view="list">Gallery View</div>

    {#    {{ mode }}#}

    <h1 style="text-align: center">{{ collection_name }}</h1>
    <h3 style="text-align: center">Collection created by {{ collection_creator }}</h3>
    <h2 style="text-align: center">{{ results.size }} Illustrations</h2>



    <div style="margin-left: 15px">
        <div class="row">

            {% if mode == 'owner' %}
                <div id="edit_collection_{{ collection_id }}"
                     data-collection_id="{{ collection_id }}"
                     data-collection_name="{{ collection_name }}"
                     class="btn btn-default edit_collection">Edit Collection</div>
            {% endif %}

            <div id="download_collection{{ k }}" data-collection_id="{{ collection_id }}"
                 class="btn btn-default dl_collection">Download Collection</div>

            <a href="{% url 'exhibition' collection_id %}" target="_blank" class="btn btn-default">Show Exhibition</a>

            {% if mode == 'owner' %}
                <div id="request_public_exhibition{{ collection_id }}" data-collection_id="{{ collection_id }}"
                     data-collection_name="{{ collection_name }}"
                     class="btn btn-default request_public_exhibition">Request Public Exhibition</div>
            {% endif %}

        </div>
        <div class="row">
            <div id="share_all" data-collection_id="{{ collection_id }}" class="btn btn-warning share_all">Share</div>

            <div class="btn"  style="padding: 10px; margin-top: 10px">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lost-visions.cf.ac.uk{% url 'dl_collection' %}?collection_id={{ collection_id }}" data-text="I'm sharing an Image collection with the @Lost_Visions project" data-via="lost_visions" data-size="large">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

            </div>
        </div>
    </div>

    <div id="results-parent-container">
        <div id="grid-result-container"></div>
        <div id="result-container">

            <div id="results_table_div" class="bs-example table-responsive">
                <table class="table table-striped table-hover" id="results_table">
                    <tbody>
                    <tr>
                        <th>
                            Illustration
                        </th>
                        <th>
                            Author
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Page
                        </th>
                        <th>
                            Title
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if results.pages|length > 1 %}
        <p style="text-align: left">
            Pages : {% for p in results.pages %}
            <a href="{% url 'view_collection' collection_id p %}"> {{ p }} </a>
        {% endfor %}
        </p>
    {% endif %}

    {#    <div id="load_more" class="btn btn-primary" style="display: block; margin: 0 auto">Click to load more</div>#}

    <div id="save_image_dialog_form" title="Save Image to Collecton">
        <p class="validateTips">Save Image to Collecton</p>
        <div id="save_image_data" data-collection_id="" data-collection_name=""></div>
        <form>
            <fieldset>
                <select id="user_collection_select">
                    {% for option in user_collections %}
                        <option id="{{ option.id }}" value="{{ option.name }}">
                            {{ option.name }}
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>


    <div id="edit_collection_dialog_form" title="Edit this collection">
        <p class="validateTips">Edit collection details</p>
        <div id="edit_collection_data" data-collection_id="" data-collection_name=""></div>
        <form>
            <fieldset>
                <label for="rename_collection_field">New Name</label>
                <input type="text" name="rename_collection_field" id="rename_collection_field" value="" class="text ui-widget-content ui-corner-all">

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

    <div id="image_caption_dialog_form" title="Edit this collection">
        <p class="validateTips">Edit Image Caption</p>
        <div id="edit_image_caption_data" data-collection_id="" data-collection_name=""></div>
        <form>
            <fieldset>
                <label for="edit_image_caption_field">New Caption</label>
                <textarea name="edit_image_caption_field" id="edit_image_caption_field"
                          class="text ui-widget-content ui-corner-all"></textarea>

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

    <div id="share_all_dialogue" title="Share Entire Image Collection">
        Share this URL : <br>
        <a id="share_collection_ref" href="{% url 'dl_collection' %}">http://lost-visions.cf.ac.uk{% url 'dl_collection' %}</a>
        <br><br>
    </div>

    <div id="dialog-form" title="Create new collection">
        <p class="validateTips">Enter name of new Illustration collection</p>

        <form>
            <fieldset>
                <label for="collection_name">Name</label>
                <input type="text" name="collection_name" id="collection_name" value="" class="text ui-widget-content ui-corner-all">

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
{% endblock %}