{% extends 'reimagine_base.html' %}
{% load staticfiles %}

{% block content %}
    <style>
        .file_submit_panel{
            margin: 50px
        }

        .fileUpload {
            position: relative;
            overflow: hidden;
            margin-top: 0

        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        #hidden_iframe {
            display: none;
        }
        .text-entry {
            margin-bottom: 0.5em !important;
        }
    </style>

    <script type="text/javascript"
            src="{% static "reimagine/BootstrapFormHelpers-master/dist/js/bootstrap-formhelpers.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "reimagine/BootstrapFormHelpers-master/dist/css/bootstrap-formhelpers.min.css" %}">

    <script>
        $(document).ready(function () {
            document.getElementById("uploadBtn").onchange = function () {
                document.getElementById("upload_file_textbox").value = this.value.replace(/^C:\\fakepath\\/, "");
            };
            $('#form_upload').find('#form_submit_input').append('&lt;span id="uploadprogressbar"&gt;&lt;/span&lt;');
            $('#form_upload').find('#uploadprogressbar').progressbar({value: false});

            for (i = new Date().getFullYear(); i > 1900; i--)
            {
                $('#yearpicker').append($('<option />').val(i).html(i));
            }
        });
    </script>


    <div class="col-md-8 col-md-offset-2">
        <div class="file_submit_panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Entry Form</h3>
            </div>
            <div class="panel-body">
                <iframe id="hidden_iframe" name="hidden_iframe" src="about:blank"></iframe>

                <form role="form" _lpchecked="1" id="form_upload"
                      enctype="multipart/form-data"
                        {#                          target="hidden_iframe"#}
                      action="{% url 'competition_entry_store' %}" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group input-group">
                            <h3>Describe yourself</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="country_picker">Country</label>
                                    <div id="country_picker" class="bfh-selectbox bfh-countries" data-name="country" data-country="GB" data-flags="true"></div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="yearpicker">Year of Birth</label>
                                    <select required class="form-control" name="yearpicker" id="yearpicker"></select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group input-group" style="width: 100%">
                            <h3>Describe your entry</h3>
                            <input required id="entry_name" name="entry_name" placeholder="Name your entry" type="text" class="text-entry form-control" />

                            <textarea required id="entry_description" name="entry_description"
                                      placeholder="Describe your entry" class="text-entry form-control"></textarea>

                            <textarea rows="6" required id="illustration_description" name="illustration_description"
                                      placeholder="Which illustrations did you use for inspiration?
(please copy and paste the web address of relevant illustration(s) e.g. http://illustrationarchive.cf.ac.uk/image/11089428334)"
                                      class="text-entry form-control"></textarea>

                            <textarea required id="illustration_understanding" name="illustration_understanding"
                                      placeholder="How has The Illustration Archive changed your understanding of illustrations from the past?"
                                      class="text-entry form-control"></textarea>

                        </div>

                        <h3>Upload entry (image, video or other media)</h3>
                        <div class="form-group input-group">
                            <input required id="upload_file_textbox" placeholder="Select a File to Upload" type="text" class="form-control" />
                            <div class="input-group-btn">
                                <div class="fileUpload btn btn-outline btn-default">
                                    <i class="fa fa-search"></i>
                                    <input required class="upload" id="uploadBtn" type="file" name="entry_upload_file" />
                                </div>
                            </div>
                        </div>
                        {#                        <div>#}
                        {#                            <div class="progress progress-striped active">#}
                        {#                                <div class="progress-bar progress-bar-info"#}
                        {#                                     role="progressbar" style="width: 20%">#}
                        {#                                    <span class="sr-only">20% Complete</span>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}

                        <div class="form-group">
                            <input class="form-control" type="hidden"
                                   id="X-Progress-ID" name="X-Progress-ID" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="hidden" id="id" name="id" value="">
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-6">
                                <input class="btn btn-lg btn-info btn-block"
                                       id="form_submit_button" class="tp-button" type="submit" value="Submit" >
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="sticky-footer">
    <ul class="footer-links">
        <li class="departments">
            <a href="http://www.cardiff.ac.uk/" target="_blank">
{#                                <img src="http://sites.cardiff.ac.uk/brandtoolkit/files/2013/11/universitylogo1-300x288.jpg" style='width:auto; height:80px; padding: 10px;  background-color: #ffffff'>#}
                <img src="{% static "media/images/icon/universitylogo1-300x288.jpg" %}" style='width:auto; height:80px; padding: 10px;  background-color: #ffffff'>

            </a>
        </li>


        <li class="departments">
            <a class="department_text" href="http://www.cardiff.ac.uk/arcca/" target="_blank">
{#                                <img src="http://www.cf.ac.uk/arcca/images/homepage/image-56473-web.gif" style='width:auto; height:40px; padding: 10px; background-color: #ffffff'>#}
                <img src="{% static "media/images/icon/image-56473-web.gif" %}" style='width:auto; height:40px; padding: 10px;  background-color: #ffffff'>

                                <p>Advanced Research Computing @ Cardiff</p>
            </a>
        </li>


    </ul>
{#            <div style="text-align: center; display: block">Cardiff University 2014</div>#}

    </div>


{% endblock %}