{% extends "reimagine_base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <a href="{% url 'reimagine' %}"><div class="btn btn-info">REimagine Home</div></a>
    </div>

    <div class="row">
        <div id="education" class="education">
            <p>
                <span style="font-weight: bold">
                    REimagine Competition 2015 – Terms and Conditions
                </span>
            </p>
            <p>
                <span>
The REimagine competition encourages the creative reimagining of an image or images in <a href="http://illustrationarchive.cf.ac.uk/">The Illustration Archive</a>
                </span>
            </p>
            <p>
                <span>
Participants are invited to create a work of art or craft inspired by illustration(s) from The Illustration Archive and to submit their entries online by 14th December 2015.
                </span>
            </p>
            <p>
                <span>
Entries will be judged by a selected panel of experts from the creative industries and the work of nominated winners will be exhibited in Cardiff University and in an online exhibition.
                </span>
            </p>
            <p>
                <span>
Prizes will be awarded to winners and runners up in two categories: over and under 16s.
                </span>
            </p>
            <p>
                <span style="font-weight: bold">
Entry/Registration
                </span>
            </p>
            <p>
                <span>
The closing date for entries is 14th December 2015.
                </span>
            </p>
            <p>
                <span>
Only entrants who have logged into The Illustration Archive and completed the online entry form are eligible for a prize.
                </span>
            </p>
            <p>
                <span>
You may enter as often as you like.
                </span>
            </p>
            <p>
                <span>
There is no entry fee for participants.
                </span>
            </p>
            <p>
                <span>
Entrants can submit any form of art, text, craft, multimedia or digital work, video or animation.
                </span>
            </p>
            <p>
                <span>
Entries can reimagine an illustration by reproducing it in a different media or creating an entirely original piece of work inspired by an illustration from the archive.
                </span>
            </p>
            <p>
                <span>
Please submit entries via the digital form on the Illustration Archive competition website. Do not send physical copies: your design should be submitted as a digital document. Entrants must provide details of the illustration(s) that inspired their entry.
                </span>
            </p>
            <p>
                <span style="font-weight: bold">
Judging
                </span>
            </p>
            <p>
                <span>
The panel of judges will review all entries received.
                </span>
            </p>
            <p>
                <span>
Entries will be assessed using the following criteria:
                </span>
            </p>
            <ul>
                <li>
                    <p>
                        <span>
                            Evidence of inspiration from the Illustration Archive collection
                        </span>
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                            Creativity and innovation
                        </span>
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                    Evidence of a changed understanding of historic illustrations
                        </span>
                    </p>
                </li>
            </ul>
            <p>
                <span style="font-weight: bold">
Prizes and Exhibition
                </span>
            </p>
            <p>
                <span>
Prizes of signed Quentin Blake books and Amazon vouchers will be awarded to the winners in each category.
</span>
            </p>
            <p>
    <span>
Runners up in each category will receive Illustration Archive goody bags.
</span>
            </p>
            <p>
    <span>
Nominated submissions will be exhibited on site at Cardiff University and in a digital exhibition.
</span>
            </p>

            <p>
                <span style="font-weight: bold">
                    Consent and Copyright
                </span>
            </p>

            <p>
                <span>
All entries submitted must be entirely the entrant’s own work. Entrants must have obtained prior permission from any person(s) and or object(s) that require permission to be featured within the entries before entering into the competition.
                </span>
            </p>

            <p>
                <span>
Entries must not contain any content that could be construed as offensive, unlawful, derogatory or defamatory.
                </span>
            </p>

            <p>
                <span>
It is the responsibility of the entrant to ensure they are compliant with ownership and copyright laws. If the Illustration Archive team finds reason to believe entries submitted do not meet these requirements, these entries will not be considered.
                </span>
            </p>

            <p>
                <span>
In return for entering the competition, entrants grant the Illustration Archive the right to use the submitted entries in digital form without compensation in the context of promotions, resources, marketing, social media, advertising, events and exhibitions.
                </span>
            </p>

            <p>
                <span>
Submitted entries may also be used in various hard copy and electronic publications and social media to promote the competition, Cardiff University and the Illustration Archive. We will endeavour to state the name of the designer/artist wherever possible.
                </span>
            </p>

            <p>
                <span>
The entries are exclusive property of the entrant and the Illustration Archive will not assert any claim to the ownership of them.
                </span>
            </p>

            <p>
        <span>
    If you have any problems uploading your images or completing the online entry form, please email the Illustration Archive team at <a href="mailto:illustrationarchive@cardiff.ac.uk">illustrationarchive@cardiff.ac.uk</a>
    </span>
            </p>
        </div>
    </div>
{% endblock %}