{% extends "reimagine_base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="" style="margin: auto">
            <img id='reimagine_image'
                 src="{% static "reimagine/REIMAGINE (7-08).mov.00_00_00_00.Still001.png" %}"
                 style='max-height: 80%; max-width: 100%; margin: auto'>
        </div>
    </div>


    <div class="row">
        <div id="education" class="education">
            <h1 style="text-align: center;">
                Competition Information
            </h1>
            <p>
                <img src="{% static "media/documents/images/image03.jpg" %}"
                     style="margin-left: auto; margin-right: auto; display: block; width: 70%; padding: 10px;">
            </p>

            <p>
                <span style="font-weight: bold">General Information</span>
            </p>

            <p>
                <span>
                    The REimagine competition encourages the creative reimagining of an illustration or illustrations from <a href="http://illustrationarchive.cf.ac.uk/">The Illustration Archive</a>:
                </span>
            </p>
            <p>
                <span>
                    Participants are invited to create a work of art or craft inspired by an illustration(s) and to submit their entries online by 14<sup>th</sup> December 2015.
                </span>
            </p>
            <p>
                <span>
                    Entries will be judged by a selected panel of experts from the creative industries and the work of nominated winners will be exhibited in Cardiff University and in an online exhibition.
                </span>
            </p>
            <p>
                <span>
                    Prizes will be awarded to winners and runners up in two categories: over and under 16s.
                </span>
            </p>

            <hr>

            <p>
                <span style="font-weight: bold">How to enter</span>
            </p>
            <ul style="list-style-type: circle">
                <li>
                    <p>
                        <span>
                            Log in to The Illustration Archive using the button below
                        </span>
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                            Choose an illustration (or illustrations) from the Archive
                        </span>
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                            Reimagine the illustration(s). See our <a target="_blank" href="https://www.youtube.com/watch?v=J81veSzrZr8">YouTube video</a> for some ideas
                        </span>
                    </p>
                </li>
                <li>
                    <p>
                        <span>
                            Fill in the entry form and upload your entry
                        </span>
                    </p>
                </li>
            </ul>
            <p>
                <span>
                    That's it! Enjoy reimagining these illustrations from the past!
                </span>
            </p>
            <p>
                <span>
                    For competition rules, and details of what you can win, <a href="{% url 'reimagine_rules' %}">click here</a>
                </span>
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if user.is_authenticated %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Hi {{ user }}! If you have an entry to submit, please:
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-block btn-info" href="{% url 'entry_upload' %}">Click Here To Upload Your Entry</a>

                    </div>
                </div>
            {% else %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        You must be logged in to submit a competition entry!
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-block btn-info" href="{% url 'account_login' %}">
                            <span style="text-align: center">Click Here To Login</span>
                        </a>
                    </div>
                </div>

            {% endif %}
        </div>

    </div>
{% endblock %}