{% extends "reimagine_base.html" %}
{% load staticfiles %}

{% block content %}



    <script type="text/javascript">
        $(document).ready(function () {
            var main_image = window.innerHeight;
            var header_height = $('.navbar').height();

{#            document.getElementById("uploadBtn").onchange = function () {#}
{#                document.getElementById("upload_file_textbox").value = this.value.replace(/^C:\\fakepath\\/, "");#}
{#            };#}
{##}
{#            $('#reimagine_image').css({height: main_image - header_height - 5,  margin: 'auto'});#}
{##}
{#            $('#form_upload').find('#form_submit_input').append('&lt;span id="uploadprogressbar"&gt;&lt;/span&lt;');#}
{#            $('#form_upload').find('#uploadprogressbar').progressbar({value: false});#}

        });
    </script>

    <div class="row">
        <div class="" style="margin: auto">
            <img id='reimagine_image'
                 src="{% static "reimagine/REIMAGINE (7-08).mov.00_00_00_00.Still001.png" %}"
                 style='max-height: 80%; max-width: 100%; margin: auto'>
        </div>
    </div>



    <div id="education" class="education" style="">
        <h1 style="text-align: center;">
            Hey look, a competition
        </h1>
        <p>
            <img src="{% static "media/documents/images/image03.jpg" %}"
                 style="margin-left: auto; margin-right: auto; display: block; width: 70%; padding: 10px;">
        </p>
        <p>
            <span >
                This guide is intended to introduce users to </span>
            <span>
                The Illustration Archive - ReImagine</span>
            <span >
                &nbsp;and to provide the option to upload entries and stuff.</span>
        </p>
    </div>



    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if user.is_authenticated %}
                <p>
                    Hi {{ user }}! If you have an entry to submit, please
                    <a class="btn btn-block btn-info" href="{% url 'entry_upload' %}">Click Here To Upload Your Entry</a>
                </p>
            {% else %}
                <p style="text-align: center">
                    You must be logged in to submit a competition entry!
                </p>
                <div class="col-md-6 col-md-offset-3">
                    <a class="btn btn-block btn-info" href="{% url 'account_login' %}">
                        <span style="text-align: center">Click Here To Login</span>
                    </a>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}